
<div class="datatable mx-1">
	<p-table [columns]="selectedColumns" [value]="carsData"
    [resizableColumns]="true" 
    columnResizeMode="expand" 
    [scrollable]="true" 
    scrollHeight="400px" 
    styleClass="p-datatable-striped" 
    [tableStyle]="{'min-width': '50rem'}">
		<ng-template pTemplate="caption">
			<div style="text-align:left">
				<p-multiSelect [options]="columns" [(ngModel)]="selectedColumns" optionLabel="header" selectedItemsLabel="{0} columns selected"
				 [style]="{minWidth: '200px'}" defaultLabel="Choose Columns"></p-multiSelect>
			</div>
		</ng-template>

		<ng-template pTemplate="header" let-columns>
			<tr>
				<th *ngFor="let col of columns" pResizableColumn pSortableColumn="{{col.header}}" >
					{{col.header}} <p-sortIcon field="code" />
				</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-rowData let-columns="columns">
			<tr>
				<td *ngFor="let col of columns" class="ui-resizable-column">
					{{rowData[col.field]}}
				</td>
			</tr>
		</ng-template>
        <!-- <ng-template pTemplate="footer"let-columns>
          <tr>
            <td class="ui-results" >Results:10</td>
          </tr>  
        </ng-template> -->
	</p-table>
    <div class="col-sm-12 px-3 py-2 d-flex justify-content-start  ">
        <div class="status">
            <p>Success <img src="../../assets/images/checked.png " width="16" ></p>
        </div>
    </div>
</div>
<hr>
