<nav role="navigation" class="primary-navigation">
  <ul>
    <li class="">
      <a href="#" class="d-flex">
        <div class="profileImage">
          <img src="../../assets/images/User.svg" />
        </div>
        <img
          class="mx-2"
          src="../../assets/images/Icon akar-triangle-down-fill.svg"
        />
      </a>
      <ul class="dropdown">
        <li>
          <div href="#" class="userdetailprofile">
            <div class="dropprofileImage">
              <img src="../../assets/images/User.svg" />
            </div>
            <h5 class="my-1">Mohana Prasad</h5>
            <p class="my-1">User</p>
          </div>
        </li>
        <li>
          <a routerLink="/Users/Profile" class="d-flex">
            <img src="../../assets/images/userdetails.svg" />
            <p class="p-2">User Details</p>
          </a>
        </li>

        <div class="vl my-1 mb-2"></div>
        <li>
          <a routerLink="/login" class="d-flex my-1">
            <img src="../../assets/images/logout.svg" />
            <p class="p-2">Logout</p>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
