<div class="backgoundbody col-12 w-100">
  <div class="bodybg w-100">
    <div class="child w-100">
      <form class="login">
        <div class="d-flex justify-content-center">
          <img src="../../assets/images/SCCA-color-logo.svg" />
        </div>
        <p >{{setPassword?"Enter Your OldPassword and NewPassword" :"Enter your Username and Password"}}</p>
        <div *ngIf="!setPassword"><input  class="form-control" type="text" [(ngModel)]="email" placeholder="Username" name="email"   /></div>       
        <small>{{setPassword?"OldPassword is required *":"Username is required *"}}</small>
        <input *ngIf="!setPassword" class="form-control" type="password" [(ngModel)]="password" placeholder="Password" name="password" />
        <input *ngIf="setPassword" class="form-control" type="password" [(ngModel)]="newPassword" placeholder="NewPassword" name="newPassword" />
        <small>{{setPassword?"NewPassword is required *":"Password is required *"}}</small>
        <div class="buttonlog d-flex">
          <input
            type="submit"
            value={{submitButtonValue}}
            class="loginSubmit"
            (click)="login(submitButtonValue)"
          />
          <img
            class="imglogin"
            src="../../assets/images/Icon ion-arrow-left-b.svg"
          />
        </div>
      </form>
    </div>
  </div>
</div>
