
<div class="container-body">
    <!-- <div class="titleBreadCrumbs px-3 m-2">
      <div class="container-fluid mx-auto">Dashboard</div>
    </div> -->
  
    <div class="userbgdashboard" style="height: calc(98vh - 20vh);">
      <div class="container-fluid">
        <div class="col-md-12 p-3 d-flex">
          <div class="folder mx-3 card  d-flex justify-content-start" *ngFor="let folder of foldername">
            <div class="file" (click)="filemanagement(folder.name)" style="cursor: pointer;">
              <img src="../../assets/images/subfolder.svg" style="width: 70%;" />
              <h6 class="mt-2">{{folder.name}}</h6>
            </div>
         
        </div>
      </div>
    </div>
  
    
  </div>
  </div>
  
  
  
  
  
  
  
  
  