<div class="container-body " style="margin: 0px 16px;">
  <!-- <div class="titleBreadCrumbs px-3 m-2">
      <div class="container-fluid mx-auto">Dashboard</div>
    </div> -->

  <div class="userbgdashboard" style="height: calc(98vh - 20vh);" *ngIf="tabsOverviewShow===false">
    <div class="container-fluid">

      <div class="col-md-12 p-2 my-1 d-flex align-items-center">
        <div class="col-5 p-0">
          <div class="form">
            <input type="text" class="form-control form-input" placeholder="Search anything...">
            <img src="../../assets/images/clear.png" class="clearicon">
            <span class="left-pan">
              <img src="../../assets/images/searchicon.png" class="ps-2" />
            </span>
          </div>
        </div>
        <div class="col-7 d-flex justify-content-end p-0">
          <div class="btn-group" dropdown>
            <button id="button-custom-html" dropdownToggle type="button"
              class="btn btn-outline-primary mx-2 dropdown-toggle" aria-controls="dropdown-custom-html">
              <img src="../../assets/images/sortby.png" /> Sort by<span class="caret"></span>
            </button>

            <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu" role="menu"
              aria-labelledby="button-custom-html">
              <div class="radiobuttons d-flex" *ngFor="let category of categories; let i = index"
                style="gap: 10px; padding: 8px">
                <div class="col-md-10 d-flex justify-content-start">
                  <img src="{{category.img}}" width="24" height="24">
                  <p>{{ category.name }}</p>
                </div>
                <div class="col-md-1">
                  <input type="radio" id="{{ 'radio-' + i }}" name="radioGroup" [value]="category.key"
                    (change)="onRadioChange(category.key)" />
                </div>

              </div>

            </ul>
          </div>
          <button type="button" class="btn btn-outline-primary mx-3">
            <img class="button-icon-md" src="../../assets/images/refresh-arrow.png" />Reload
          </button>

          <div class="btn-group" dropdown>
            <button id="button-custom-html" dropdownToggle type="button" class="btn btn-primary mx-2 dropdown-toggle"
              aria-controls="dropdown-custom-html">
              <img src="../../assets/images/addnew.png" class="mx-2" /> New<span class="caret mx-2"></span>
            </button>

            <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu newcategory" role="menu"
              aria-labelledby="button-custom-html">
              <button #openFile type="button" (click)="  addEditReportBuilderPopup('open',addEditBuilderModalTemplate)"
                class="btn dd mx-1 " style="position: relative">
                <span class="button__icon">
                  <img src="../../assets/images/RB-dropdown.png" />
                </span>
                <p class="mx-3 button__text">New File</p>
              </button>

              <button #openFolder type="button" (click)="isEdit=false; openAddEditFolderModal()" class="btn dd mx-1 "
                data-bs-toggle="modal" data-bs-target="#staticBackdropFolder" style="position: relative;">
                <span class="button__icon">
                  <img src="../../assets/images/RBF-dd.png" />
                </span>
                <p class="mx-3 button__text">New Folder</p>
              </button>
            </ul>
          </div>



          <div class="modal fade" id="staticBackdropFolder" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">{{isEdit? 'Edit Folder':'New Folder'}}</h5>
                  <button type="button" class="" data-bs-dismiss="modal" aria-label="Close"
                    style="border: none;background: none;outline: none;">
                    <img src="../../assets/images/popupclose.png" width="30" />
                  </button>
                </div>
                <div class="modal-body">
                  <div class="mb-3 row">
                    <label for="Folder" class="col-sm-2 col-form-label">Name:</label>
                    <div class="col-sm-10">
                      <input class="form-control" [(ngModel)]="directory.name" type="text"
                        placeholder="Create New Folder" />
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="Description" class="col-sm-2 col-form-label">Description:</label>
                    <div class="col-sm-10">
                      <textarea [(ngModel)]="directory.description" class="form-control"
                        id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                  <button #closeFolder type="button" class="btn btn-secondary"
                    (click)="closeFolderModal()">Close</button>
                  <button type="button" data-bs-dismiss="modal" class="btn btn-primary"
                    (click)="storeDirectory()">{{isEdit? 'Save':'Add'}}</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="col-md-12 p-3 d-flex">
        <div class="folder mx-3 card  d-flex justify-content-start" *ngFor="let folder of directoryList">
          <div class="gohover w-100">
            <div class="btn-group" dropdown>
              <button id="button-basic" dropdownToggle type="button" class="infooverviewtoggle pe-1"
                aria-controls="dropdown-basic">
                <img src="../../assets/images/Menu card.png" class="ms-2" width="20" />
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu overviewddmenu" role="menu"
                aria-labelledby="button-basic">
                <li data-bs-toggle="modal" data-bs-target="#staticBackdropFolder" role="menuitem"
                  (click)="isEdit=true;mapEditDirectory(folder);openAddEditFolderModal()"><a class="dropdown-item">
                    <img src="../../assets/images/pen.png" class="mx-3" width="18" /> Edit</a></li>
                <li role="menuitem"><a class="dropdown-item"
                    (click)="directory.id=folder.id;directory.name=folder.name;toggleDeleteModal('open',deleteModalTemplate)"><a
                      class="dropdown-item"></a>
                    <img src="../../assets/images/trash.svg" class="mx-3" width="20" />Delete</a></li>
              </ul>
            </div>
          </div>
          <div class="file" (click)="filemanagement(folder)" style="cursor: pointer;">
            <img src="../../assets/images/subfolder.svg" style="width: 70%;" />
            <h6 class="mt-2">{{folder.name}}</h6>
          </div>

        </div>
        <div class="folder-file mx-3 card  d-flex justify-content-start" *ngFor="let file of reportBuilderList">
          <div class="gohover w-100">
            <div class="btn-group" dropdown>
              <button id="button-basic" dropdownToggle type="button" class="infooverviewtoggle pe-1"
                aria-controls="dropdown-basic">
                <img src="../../assets/images/Menu card.png" class="ms-2" width="20" />
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu overviewddmenu" role="menu"
                aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item">
                    <img src="../../assets/images/viewicon.svg" class="mx-3" width="20" /> Overview</a></li>
                <li role="menuitem"><a class="dropdown-item">
                    <img src="../../assets/images/pen.png" class="mx-3" width="18" /> Edit</a></li>
                <li role="menuitem"><a class="dropdown-item">
                    <img src="../../assets/images/x-button.png" class="mx-3" width="20" />Close</a></li>
              </ul>
            </div>
          </div>
          <div class="file" (click)="folderfilemanagement(file.name)" style="cursor: pointer;">
            <img src="../../assets/images/RB-file.png" style="width: 70%;" />
            <h6 class="mt-2">{{file.name}}</h6>
          </div>

        </div>
      </div>
    </div>


  </div>

  <div class="subfolderoverview" *ngIf="tabsOverviewShow===true">
    <div (click)="$event.preventDefault()">
      <!-- <p>Change quantity of tabs by manipulating tabs array</p>
      <button type="button" class="btn btn-primary btn-sm" (click)="addNewTab()">
        Add new tab
      </button>
      <button type="button" class="btn btn-primary btn-sm" (click)="tabs = []"  *ngIf="tabs.length">
        Remove all tabs
      </button> -->

      <tabset #staticTabs>
        <tab heading="Report Builder">
          <div class="userbgdashboard" style="height: calc(98vh - 20vh);" *ngIf="tabsOverviewShow">
            <div class="container-fluid">

              <div class="col-md-12 p-2 my-1 d-flex align-items-center">
                <div class="col-5 p-0">
                  <div class="form">
                    <input type="text" class="form-control form-input" placeholder="Search anything...">
                    <img src="../../assets/images/clear.png" class="clearicon">
                    <span class="left-pan">
                      <img src="../../assets/images/searchicon.png" class="ps-2" />
                    </span>
                  </div>
                </div>
                <div class="col-7 d-flex justify-content-end p-0">
                  <div class="btn-group" dropdown>
                    <button id="button-custom-html" dropdownToggle type="button"
                      class="btn btn-outline-primary mx-2 dropdown-toggle" aria-controls="dropdown-custom-html">
                      <img src="../../assets/images/sortby.png" /> Sort by<span class="caret"></span>
                    </button>

                    <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu" role="menu"
                      aria-labelledby="button-custom-html">
                      <div class="radiobuttons d-flex" *ngFor="let category of categories; let i = index"
                        style="gap: 10px; padding: 8px">
                        <div class="col-md-10 d-flex justify-content-start">
                          <img src="{{category.img}}" width="24" height="24">
                          <p>{{ category.name }}</p>
                        </div>
                        <div class="col-md-1">
                          <input type="radio" id="{{ 'radio-' + i }}" name="radioGroup" [value]="category.key"
                            (change)="onRadioChange(category.key)" />
                        </div>

                      </div>

                    </ul>
                  </div>
                  <button (click)="clear()" type="button" class="btn btn-outline-primary mx-3">
                    <img class="button-icon-md" src="../../assets/images/refresh-arrow.png" />Reload
                  </button>

                  <div class="btn-group" dropdown>
                    <button id="button-custom-html" dropdownToggle type="button"
                      class="btn btn-primary mx-2 dropdown-toggle" aria-controls="dropdown-custom-html">
                      <img src="../../assets/images/addnew.png" class="mx-2" /> New<span class="caret mx-2"></span>
                    </button>

                    <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu newcategory" role="menu"
                      aria-labelledby="button-custom-html">
                      <button #openFile type="button" (click)="  addEditReportBuilderPopup('open',addEditBuilderModalTemplate)"
                        class="btn dd mx-1 " data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                        style="position: relative">
                        <span class="button__icon">
                          <img src="../../assets/images/RB-dropdown.png" />
                        </span>
                        <p class="mx-3 button__text">New File</p>
                      </button>

                      <button #openFolder type="button" (click)="isEdit=false; openAddEditFolderModal()"
                        class="btn dd mx-1 " data-bs-toggle="modal" data-bs-target="#staticBackdropFolder"
                        style="position: relative;">
                        <span class="button__icon">
                          <img src="../../assets/images/RBF-dd.png" />
                        </span>
                        <p class="mx-3 button__text">New Folder</p>
                      </button>
                    </ul>
                  </div>





                </div>
              </div>


              <div class="col-md-12 p-3 d-flex">
                <div class="folder mx-3 card  d-flex justify-content-start" *ngFor="let folder of foldername">
                  <div class="file" (click)="filemanagement(folder.name)" style="cursor: pointer;">
                    <img src="../../assets/images/subfolder.svg" style="width: 70%;" />
                    <h6 class="mt-2">{{folder.name}}</h6>
                  </div>

                </div>
                <div class="folder-file mx-3 card  d-flex justify-content-start" *ngFor="let file of filename">
                  <div class="file" (click)="folderfilemanagement(file.name)" style="cursor: pointer;">
                    <img src="../../assets/images/RB-file.png" style="width: 70%;" />
                    <h6 class="mt-2">{{file.name}}</h6>
                  </div>

                </div>
              </div>
            </div>


          </div>
        </tab>

        <tab *ngFor="let tabz of tabs" [style]="{width:'100%'}" [heading]="tabz.title" [active]="tabz.active"
          (selectTab)="tabz.active = true" (deselect)="tabz.active = false" [disabled]="tabz.disabled"
          [removable]="tabz.removable" (removed)="removeTabHandler(tabz)" [customClass]="tabz.customClass"
          [styleClass]="">

          <ng-template tabHeading #toltemplate>
            <div class="btn-group" dropdown>
              <button id="button-basic" dropdownToggle type="button" class="infooverviewtoggle pe-1"
                aria-controls="dropdown-basic">
                <img src="../../assets/images/Menu card.png" class="ms-2" width="20" />
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu overviewddmenu" role="menu"
                aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" href="#">
                    <img src="../../assets/images/pen.png" class="mx-3" width="20" /> Edit</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">
                    <img src="../../assets/images/action info.png" class="mx-3" width="20" /> Info</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">
                    <img src="../../assets/images/x-button.png" class="mx-3" width="20" />Close</a></li>


              </ul>
            </div>

          </ng-template>
          <div class="card mb-3">
            <div class="col-sm-12">
              <h5 class="my-2">Overview</h5>
            </div>
            <div class="col-sm-12">
              <div class="cardcolumn py-2 mb-2" style="overflow: auto;">
                <div class="d-flex col-12">

                </div>
                <div class="profiledetails card mx-3 my-2">
                  <div class="col-12 d-flex px-3 py-2">
                    <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
                      <img src="../../assets/images/description (1).png" width="36" />
                    </div>
                    <div class="col-md-11 namegrid">
                      <h5 class="mb-2">Name <small>*</small></h5>
                      <p class="my-1">Mohana Prasad</p>
                    </div>
                  </div>
                </div>
                <div class="profiledetails card mx-3 my-2">
                  <div class="col-12 d-flex px-3 py-2">
                    <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
                      <img src="../../assets/images/description (1).png" width="36" />
                    </div>
                    <div class="col-md-11 namegrid">
                      <h5 class="mb-2">Display Name <small>*</small></h5>
                      <p class="my-1">Mohana Prasad</p>
                    </div>
                  </div>
                </div>
                <div class="profiledetails card mx-3 my-2">
                  <div class="col-12 d-flex px-3 py-2">
                    <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
                      <img src="../../assets/images/description (1).png" width="36" />
                    </div>
                    <div class="col-md-11 namegrid">
                      <h5 class="mb-2">Group <small>*</small></h5>
                      <p class="my-1">Admin</p>
                    </div>
                  </div>
                </div>
                <div class="profiledetails card mx-3 my-2">
                  <div class="col-12 d-flex px-3 py-2">
                    <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
                      <img src="../../assets/images/description (1).png" width="36" />
                    </div>
                    <div class="col-md-11 namegrid">
                      <h5 class="mb-2">Phone Number <small>*</small></h5>
                      <p class="my-1">987643210</p>
                    </div>
                  </div>
                </div>
                <div class="profiledetails card mx-3 my-2">
                  <div class="col-12 d-flex px-3 py-2">
                    <div class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline" style="width: 5%">
                      <img src="../../assets/images/description (1).png" width="36" />
                    </div>
                    <div class="col-md-11 namegrid">
                      <h5 class="mb-2">Name <small>*</small></h5>
                      <p class="my-1">Mohana Prasad</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>

</div>


<!--Add Edit Report Builder File Modal -->
<ng-template #addEditBuilderModalTemplate>
  <div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">New File</h5>
    <button type="button" class="" aria-label="Close" style="border: none; background: none; outline: none">
      <img src="../../assets/images/popupclose.png" width="30" (click)=" addEditReportBuilderPopup('close',addEditBuilderModalTemplate)" />
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="col-md-12">
        <div class="steppercard">
          <div class="stepper-horizontal" id="stepper1">
            <div #steppers class="step editing">
              <div class="step-circle"><span>1</span></div>
              <div class="step-title">Basic Details</div>
              <div class="step-bar-left"></div>
              <div class="step-bar-right"></div>
            </div>
            <div class="step">
              <div class="step-circle"><span>2</span></div>
              <div class="step-title">Data Configuration</div>
              <div class="step-bar-left"></div>
              <div class="step-bar-right"></div>
            </div>
            <div class="step">
              <div class="step-circle"><span>3</span></div>
              <div class="step-title">Input Parameters</div>
              <!-- <div class="step-optional"></div> -->
              <div class="step-bar-left"></div>
              <div class="step-bar-right"></div>
            </div>
            <div class="step">
              <div class="step-circle"><span>4</span></div>
              <div class="step-title">Output Fields</div>
              <!-- <div class="step-optional">Optional</div> -->
              <div class="step-bar-left"></div>
              <div class="step-bar-right"></div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-12">
        <div class="basicDetails" *ngIf="currentStepperPage==='basic'">
          <div class="mb-3 row">
            <label for="staticEmail" [(ngModel)]="filename" class="col-sm-3 col-form-label">Name<small>*</small></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="staticEmail">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="finputPassword" class="col-sm-3 col-form-label">Report
              Type<small>*</small></label>
            <div class="col-sm-9">
              <div class="card d-flex justify-content-center">
                <p-dropdown [options]="reportType"  optionLabel="name" [filter]="true"
                  filterBy="name" [showClear]="true" placeholder="Select a Country">
                  <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="d-flex align-items-center gap-2">
                      <div>{{ selectedOption.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-country pTemplate="item">
                    <div class="d-flex align-items-center gap-2">
                      <div>{{ country.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="Description" class="col-sm-3 col-form-label">Description</label>
            <div class="col-sm-9">
              <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="configurations" *ngIf="currentStepperPage==='config'">
          <div class="col-md-12">
            <div class="mb-3 row">
              <label for="finputPassword" class="col-sm-3 col-form-label">Data Source
                Name<small>*</small></label>
              <div class="col-sm-9">
                <div class="card d-flex justify-content-center">
                  <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true"
                    filterBy="name" [showClear]="true" placeholder="Select a Country">
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                      <div class="d-flex align-items-center gap-2">
                        <div>{{ selectedOption.name }}</div>
                      </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                      <div class="d-flex align-items-center gap-2">
                        <div>{{ country.name }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="finputPassword" class="col-sm-3 col-form-label">Query
                Type<small>*</small></label>
              <div class="col-sm-9">
                <div class="card d-flex justify-content-center">
                  <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true"
                    filterBy="name" [showClear]="true" placeholder="Select a Country">
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                      <div class="d-flex align-items-center gap-2">
                        <div>{{ selectedOption.name }}</div>
                      </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                      <div class="d-flex align-items-center gap-2">
                        <div>{{ country.name }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="StoredProcedure" class="col-sm-3 col-form-label">Stored Procedure</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="exampleFormControlTextarea3" rows="3"></textarea>
              </div>
            </div>
          </div>

        </div>
        <div class="inputparams" *ngIf="currentStepperPage==='params'">

          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Alias</th>
                <th>Datatype</th>
                <th>Value</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>
                  <p>@startDate</p>
                </td>
                <td>
                  <p>Start</p>
                </td>
                <td>
                  <p>DateTime</p>
                </td>
                <td>Value</td>
                <td>
                  <button #openinputparam type="button" (click)="parameterPopup('open',parameterModalTemplate)"
                    class="btn mx-1 " style="position: relative;">
                    <span class="button__icon">
                      <img src="../../assets/images/pen.png" />
                    </span>
                  </button>
                </td>
              </tr>
              <tr *ngFor="let item of datainputParameters$ | async">

                <td>{{item.name}}</td>
                <td>{{item.alias}}</td>
                <td>{{item.dataType}}</td>
                <td>{{item.Value}}</td>
                <td>
                  <button #openinputparam type="button" (click)="parameterPopup('open',parameterModalTemplate)"
                    class="btn mx-1 " style="position: relative;">
                    <span class="button__icon">
                      <img src="../../assets/images/pen.png" />
                    </span>
                  </button>
                </td>
              </tr>

            </tbody>

          </table>
        </div>
        <div class="outputfields" *ngIf="currentStepperPage==='fields'">
          <div class="col-md-12 d-flex justify-content-end pt-2 pb-2">
            <button #openoutputfield type="button" (click)="customFieldPopup('open',customFieldTemplate)"
              class="btn btn-primary mx-1 primaryanimatebutton" style="position: relative">
              <span class="button__icon">
                <img src="../../assets/images/addnew.png" />
              </span>
              <p class="mx-3 button__text" style="color: white !important">New</p>
            </button>

          </div>
          <div class="container row primaryconfig">
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Alias</th>
                  <th>Datatype</th>
                  <th>Value</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>
                    <p>@startDate</p>
                  </td>
                  <td>
                    <p>Start</p>
                  </td>
                  <td>
                    <p>DateTime</p>
                  </td>
                  <td>Value</td>
                  <td>
                    <button #openOutputEditField type="button" (click)="editoutputfieldsModel()" class="btn mx-1 "
                      data-bs-toggle="modal" data-bs-target="#staticBackdropoutputfieldEdit"
                      style="position: relative;">
                      <span class="button__icon">
                        <img src="../../assets/images/pen.png" />
                      </span>
                    </button>
                  </td>
                </tr>
                <tr *ngFor="let item of datainputParameters$ | async">

                  <td>{{item.name}}</td>
                  <td>{{item.alias}}</td>
                  <td>{{item.dataType}}</td>
                  <td>{{item.Value}}</td>
                  <td>
                    <button #openinputparam type="button" (click)="fieldPopup('open',fieldTemplate)" class="btn mx-1 "
                      style="position: relative;">
                      <span class="button__icon">
                        <img src="../../assets/images/pen.png" />
                      </span>
                    </button>
                  </td>
                </tr>

              </tbody>

            </table>

          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer col-md-12 d-flex justify-content-between ">
    <div class="col-md-2 d-flex justify-content-start  ">
      <button type="button" class="btn btn-secondary" (click)="backStep(1)" *ngIf="basicDetailspage===false">
        Back
      </button>
    </div>
    <div class="col-md-9 d-flex justify-content-end ">
      <button #closeFile type="button" class="btn btn-secondary" (click)="  addEditReportBuilderPopup('close',addEditBuilderModalTemplate)"> 
        Close
      </button>
      <button type="button" class="btn btn-primary" (click)="nextStep()" *ngIf="OutputFields===false">
        Next
      </button>
      <button type="button" #closeFile class="btn btn-primary" (click)="createnewFile()" *ngIf="OutputFields===true">
        Submit
      </button>
    </div>

  </div>
</ng-template>

<!--Delete Folder or file Modal-->
<ng-template #deleteModalTemplate>
  <div class="modal-header">
    <h5 class="modal-title">Delete Confirmation</h5>
    <button type="button" class="btn-close" (click)="toggleDeleteModal('close',deleteModalTemplate)"
      aria-label="Close"></button>
  </div>
  <div class="modal-body">
    Are you sure want to delete the directory <strong>{{ directory.name }}</strong>?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="toggleDeleteModal('close',deleteModalTemplate)"><i
        class="pi pi-times-circle" style="margin-right: 5px;"></i> Cancel</button>
    <button type="button" class="btn btn-primary" (click)="deleteDirectory()"><i class="pi pi-trash"
        style="margin-right: 5px;"></i>Delete</button>
  </div>
</ng-template>

<!--input field param-->
<ng-template #parameterModalTemplate>
  <div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">@agent - Edit Parameter</h5>
    <button type="button" cl aria-label="Close" (click)="parameterPopup('close',parameterModalTemplate)"
      style="border: none;background: none;outline: none;">
      <img src="../../assets/images/popupclose.png" width="30" />
    </button>
  </div>
  <div class="modal-body">

    <div class="mb-3 row">
      <label for="Folder" class="col-sm-2 col-form-label">Alias</label>
      <div class="col-sm-10">
        <input class="form-control" [value]="subFoldername" type="text" placeholder="alias" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="Description" class="col-sm-2 col-form-label">Direct Value</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="Folder" class="col-sm-2 col-form-label">Collection</label>
      <div class="col-sm-10">
        <input class="form-control" [value]="subFoldername" type="text" placeholder="alias" />
      </div>
    </div>
    <div class="mb-3 row">

      <label for="checkbox-two" class="col-sm-2 col-form-label">Allow Null</label>
      <div class="col-sm-10 d-flex align-items-center">
        <input type="checkbox" id="checkbox-two" name="switch-one" value="no" class="mx-2" />
      </div>

    </div>


  </div>
  <div class="modal-footer">
    <button #closeinputparam type="button" class="btn btn-secondary" 
       aria-label="Close" (click)="parameterPopup('close',parameterModalTemplate)">Close</button>
    <button type="button"  aria-label="Close" class="btn btn-primary"
      (click)="saveEditparam()">save</button>
  </div>
</ng-template>

<!-- Add new custom field -->
<ng-template #customFieldTemplate>
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">@Agent - Add Field</h5>
        <button type="button" class="" (click)="customFieldPopup('close',customFieldTemplate)"  aria-label="Close"
          style="border: none;background: none;outline: none;">
          <img src="../../assets/images/popupclose.png" width="30" />
        </button>
      </div>
      <div class="modal-body">

        <div class="mb-3 row">
          <label for="Folder" class="col-sm-3 col-form-label">Name</label>
          <div class="col-sm-9">
            <input class="form-control" [value]="subFoldername" type="text" placeholder="Create New Folder" />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="Folder" class="col-sm-3 col-form-label">Alias</label>
          <div class="col-sm-9">
            <input class="form-control" [value]="subFoldername" type="text" placeholder="Create New Folder" />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="Folder" class="col-sm-3 col-form-label">DataType</label>
          <div class="col-sm-9">
            <input class="form-control" [value]="subFoldername" type="text" placeholder="Create New Folder" />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="Description" class="col-sm-3 col-form-label">Value Formula</label>
          <div class="col-sm-9">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button class="btn btn-secondary testConn" (click)="validation()">
              <label for="inputPassword" class="col-form-label">Validation</label>
            </button>
            <i *ngIf="spinnerTriggered===true" class="pi pi-spin pi-spinner" style="font-size: 1.5rem"></i>
            <img src="../../assets/images/x-button.png" class="d-none">
            <img src="../../assets/images/checked.png" class="d-none  ">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="Description" class="col-sm-3 col-form-label">Result</label>
          <div class="col-sm-9">
            <div class="card d-flex justify-content-center">
              <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true"
                filterBy="name" [showClear]="true" placeholder="Select a Country">
                <ng-template pTemplate="selectedItem" let-selectedOption>
                  <div class="d-flex align-items-center gap-2">
                    <div>{{ selectedOption.name }}</div>
                  </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                  <div class="d-flex align-items-center gap-2">
                    <div>{{ country.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button #closeoutputfield type="button" class="btn btn-secondary" (click)="customFieldPopup('close',customFieldTemplate)">Close</button>
        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-primary"
          (click)="saveoutputfieldparam()">save</button>
      </div>
</ng-template>

<!-- Edit Field -->
<ng-template #fieldTemplate>
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">@Agent - Add Field</h5>
        <button type="button" class="" (click)="fieldPopup('close',fieldTemplate)" aria-label="Close"
          style="border: none;background: none;outline: none;">
          <img src="../../assets/images/popupclose.png" width="30" />
        </button>
      </div>
      <div class="modal-body">

        <div class="mb-3 row">
          <label for="Folder" class="col-sm-3 col-form-label">Name</label>
          <div class="col-sm-9">
            <input class="form-control" [value]="subFoldername" type="text" placeholder="Create New Folder" />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="Folder" class="col-sm-3 col-form-label">Alias</label>
          <div class="col-sm-9">
            <input class="form-control" [value]="subFoldername" type="text" placeholder="Create New Folder" />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="Folder" class="col-sm-3 col-form-label">DataType</label>
          <div class="col-sm-9">
            <input class="form-control" [value]="subFoldername" type="text" placeholder="Create New Folder" />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="Description" class="col-sm-3 col-form-label">Value Formula</label>
          <div class="col-sm-9">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button class="btn btn-secondary testConn" (click)="validation()">
              <label for="inputPassword" class="col-form-label">Validation</label>
            </button>
            <i *ngIf="spinnerTriggered===true" class="pi pi-spin pi-spinner" style="font-size: 1.5rem"></i>
            <img src="../../assets/images/x-button.png" class="d-none">
            <img src="../../assets/images/checked.png" class="d-none  ">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="Description" class="col-sm-3 col-form-label">Result</label>
          <div class="col-sm-9">
            <div class="card d-flex justify-content-center">
              <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true"
                filterBy="name" [showClear]="true" placeholder="Select a Country">
                <ng-template pTemplate="selectedItem" let-selectedOption>
                  <div class="d-flex align-items-center gap-2">
                    <div>{{ selectedOption.name }}</div>
                  </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                  <div class="d-flex align-items-center gap-2">
                    <div>{{ country.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button #openOutputEditField type="button" class="btn btn-secondary"
         (click)="fieldPopup('close',fieldTemplate)" >Close</button>
        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-primary"
          (click)="saveeditoutputfieldparam()">save</button>
      </div>
</ng-template>