:host::ng-deep .p-datatable {
    position: relative;
}

:host::ng-deep .p-datatable .p-datatable-header {
    background: #ffffff;
    color: #334155;
    // border: 1px solid #e2e8f0;
    border-width: 0 0 1px 0;
    padding: 0.75rem 1rem;
    font-weight: 600;
}

:host::ng-deep .p-multiselect {
    background: #ffffff;
    border: 1px solid #cbd5e1;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
    border-radius: 6px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(18, 18, 23, 0.05);
    display: inline-flex;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    min-width: 400px !important;
}

:host::ng-deep .p-multiselect-label-container {
    overflow: hidden;
    flex: 1 1 auto;
    cursor: pointer;
    display: flex;
}

:host::ng-deep .p-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

:host::ng-deep .p-multiselect-label {
    display: block;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

:host::ng-deep .p-multiselect .p-multiselect-label {
    padding: 0.5rem 0.75rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
}

:host::ng-deep .p-inputwrapper-filled .p-multiselect.p-multiselect-chip .p-multiselect-label {
    padding: 0.25rem 0.75rem;
}

:host::ng-deep .p-datatable .p-datatable-header{
    color: var(--infoColor);
}

:host::ng-deep .p-multiselect.p-multiselect-chip .p-multiselect-token {
    border-radius: 4px;
    margin-right: 0.25rem;
}
:host::ng-deep .p-multiselect.p-multiselect-chip .p-multiselect-token {
    padding: 0.25rem 0.75rem;
    margin-right: 0.5rem;
    background: #f1f5f9;
    color: #1e293b;
    border-radius: 16px;
}

:host::ng-deep .p-multiselect-token {
    cursor: default;
    display: inline-flex;
    align-items: center;
    flex: 0 0 auto;
}

:host::ng-deep .p-multiselect-token-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
}

:host::ng-deep .p-icon-wrapper {
    display: inline-flex;
}

:host::ng-deep .p-datatable>.p-datatable-wrapper {
    overflow: auto;
    padding: 0px;
}

:host::ng-deep .p-datatable-table {
    // border-top: 1px solid #e2e8f0;
    border-spacing: 0px;
    width: 100%;
}

:host::ng-deep .p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 0.75rem 1rem;
    border: 1px solid #e2e8f0;
    border-left: 1px solid #e2e8f0;
    border-right: 1px solid #e2e8f0;
    border-width: 0 1px 1px 1px;
    font-weight: 600;
    color: #334155;
    background: var(--secondaryColor);
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
}

:host::ng-deep .p-datatable .p-datatable-tbody > tr {
    background: #ffffff;
    color: #334155;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
}

:host::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid #e2e8f0;
    border-left: 1px solid #e2e8f0;
    border-right: 1px solid #e2e8f0;
    border-width: 0 1px 1px 1px;
    padding: 0.75rem 1rem;
}

:host::ng-deep .p-multiselect-panel {
    background: #ffffff;
    color: #334155;
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

:host::ng-deep .p-multiselect-panel .p-multiselect-header {
    padding: 0.5rem 0.5rem 0 0.5rem;
    border-bottom: 0 none;
    color: #334155;
    background: #ffffff;
    margin: 0 0 0 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

:host::ng-deep .p-multiselect-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

:host::ng-deep .p-multiselect-panel .p-multiselect-header .p-checkbox {
    margin-right: 0.5rem;
}

:host::ng-deep .p-checkbox {
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: bottom;
    position: relative;
}

:host::ng-deep .p-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

:host::ng-deep .p-checkbox .p-checkbox-box {
    border-radius: 4px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(18, 18, 23, 0.05);
}

:host::ng-deep .p-checkbox .p-checkbox-box {
    border: 1px solid #cbd5e1;
    background: #ffffff;
    width: 1.25rem;
    height: 1.25rem;
    color: #334155;
    border-radius: 6px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
    outline-color: transparent;
}

:host::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
    border-color: var(--primaryColor);
    background: var(--primaryColor);
}

:host::ng-deep .p-multiselect-filter-container {
    position: relative;
    flex: 1 1 auto;
}

:host::ng-deep .p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext {
    padding-right: 1.75rem;
}

:host::ng-deep .p-multiselect-filter-container .p-inputtext {
    width: 100%;
}

:host::ng-deep .p-inputtext {
    margin: 0;
}

:host::ng-deep .p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-multiselect-filter-icon {
    right: 0.75rem;
    color: #94a3b8;
}

:host::ng-deep .p-multiselect-filter-icon {
    position: absolute;
    top: 50%;
    margin-top: -.5rem;
}

:host::ng-deep .p-icon {
    display: inline-block;
}

:host::ng-deep .p-multiselect-panel .p-multiselect-header .p-multiselect-close {
    margin-left: 0.5rem;
    width: 1.75rem;
    height: 1.75rem;
    color: #64748b;
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
}

:host::ng-deep .p-button-icon-only:after {
    content: "p";
    visibility: hidden;
    clip: rect(0 0 0 0);
    width: 0;
}

:host::ng-deep .p-multiselect-panel .p-multiselect-items {
    padding: 0.25rem 0.25rem;
}

:host::ng-deep .p-multiselect-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

:host::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item:first-child {
    margin-top: 0;
}

:host::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    margin: 2px 0;
    padding: 0.5rem 0.75rem;
    border: 0 none;
    color: #334155;
    background: transparent;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
    border-radius: 4px;
}

:host::ng-deep .p-multiselect-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 400;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}

:host::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
    background: #f0f7ff;
}

:host::ng-deep p-sorticon{
    position: relative;
    top: 2px;
}

:host::ng-deep .p-sortable-column-icon{
    width: 12px;
    height: 12px;
    color: #59697e;
}

:host::ng-deep .ui-results{
    width: 100%;
    color: #1e293b;
    background: #e4e4e4;
    padding: 8px;
}

.status>p{
    color: var(--primaryColor) !important;
    font-size: 14px !important; 
}


.form{

    position: relative;
  }
  
  .form .fa-search{
    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;
  
  }
  
  .form span{
    position: absolute;
    left: 15rem;
    bottom: 8px;
    padding: unset;
    border-left: 1px solid #d1d5db;
  
  }
  
  .clearicon{
    position: absolute;
    left: 13rem;
    bottom: 8px;
  }
  
  .left-pan{
    padding-left: 7px;
  }
  
  .left-pan i{
   
   padding-left: 10px;
  }
  
  .form-input{
    text-indent: 6px;
    border-radius: 10px;
    width: 18rem;
  }
  
  .form-control:focus,.form-control:active{
  border-color: #019d91;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgb(171 227 223);
  }

  .button__text{
    color: var(--primaryColor) !important;
 
  }

:host::ng-deep{
    .p-icon-field-left .p-input-icon:first-of-type {
        left: 0.75rem;
        color: #94a3b8;
    }
    .p-datatable .p-datatable-thead > tr > th:first-child{
        border-top-left-radius: 8px !important;
    }
    .p-datatable .p-datatable-thead > tr > th:last-child{
        border-top-right-radius: 8px !important;
    }
    .p-paginator {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .p-paginator .p-paginator-current {
        margin-left: auto;
        background-color: transparent;
    color: rgb(100, 116, 139);
    min-width: 2.5rem;
    height: 2.5rem;
    border-width: 0px;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 0.143rem;
    padding: 0px 0.5rem;
    }
    .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
        color: var(--primaryColor);
        background: rgb(239, 246, 255);
        border-color: rgb(239, 246, 255);
    }
    .p-paginator .p-paginator-pages .p-paginator-page {
        background-color: transparent;
        color: rgb(100, 116, 139);
        min-width: 2.5rem;
        height: 2.5rem;
        border-width: 0px;
        border-style: none;
        border-color: initial;
        border-image: initial;
        margin: 0.143rem;
        transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.2s ease 0s, box-shadow 0.2s ease 0s, outline-color 0.2s ease 0s;
        border-radius: 50%;
    }
    .p-paginator-page, .p-paginator-next, .p-paginator-last, .p-paginator-first, .p-paginator-prev, .p-paginator-current {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        -webkit-user-select: none;
        user-select: none;
        overflow: hidden;
        position: relative;
    }

    .p-paginator .p-dropdown {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        padding-left: 8px;
    }

    .p-dropdown {
        display: inline-flex;
        cursor: pointer;
        position: relative;
        -webkit-user-select: none;
        user-select: none;
    }
    .p-paginator .p-dropdown .p-dropdown-label {
        padding-right: 0px;
    }
    .p-dropdown .p-dropdown-trigger {
        color: rgb(148, 163, 184);
        width: 2.5rem;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        background: transparent;
    }

    span.p-button-icon.pi.pi-cloud{
        display: none;
    }
    span.p-button-icon.pi.pi-plus{
        display: none;
    }
    .p-dropdown-panel .p-dropdown-items {
        padding: 0.25rem;
    }
    .p-dropdown-items-wrapper {
        overflow: auto;
    }
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
        color: var(--primaryColor);
        background: rgb(239, 246, 255);
    }
    .p-dropdown {
        box-shadow: rgba(0, 0, 0, 0) 0px 0px, rgba(0, 0, 0, 0) 0px 0px, rgba(18, 18, 23, 0.05) 0px 1px 2px 0px;
    }
    .p-dropdown {
        background: rgb(255, 255, 255);
        border-width: 1px;
        border-style: solid;
        border-color: rgb(203, 213, 225);
        border-image: initial;
        transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.2s ease 0s, box-shadow 0.2s ease 0s, outline-color 0.2s ease 0s;
        border-radius: 6px;
    }
}

:host::ng-deep{
    .p-inputswitch {
        position: relative;
        display: inline-block;
        -webkit-user-select: none;
        user-select: none;
    }
    .p-inputswitch .p-inputswitch-slider {
        border: 0 none;
    }
    .p-inputswitch .p-inputswitch-slider {
        background: #6b7280;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
        border-radius: 30px;
        width: 40px;
    height: 22px;
    }
    .p-inputswitch .p-component .p-hidden-accessible {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .p-inputswitch .p-inputswitch-slider:before {
        background: #ffffff;
        width: 1rem;
        height: 1rem;
        left: 0.25rem;
        margin-top: -0.5rem;
        border-radius: 50%;
        transition-duration: 0.2s;
    }
    .p-hidden-accessible input, .p-hidden-accessible select {
        transform: scale(0);
    }
    .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
        transform: translateX(1rem);
    }
    .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
        background: var(--primaryColor);
    }
}

