<div class="menu">
  <ul>
    <li>
      <img class="hueprimary"
        src="../../assets/images/dashboard-circle--app-application-dashboard-home-layout-circle.svg"
      />
      All Services
      <ul style="z-index: 1">
        <li>
          <img src="../../assets/images/administration.svg" />
          <span class="p-2">Administration</span>
          <ul>
            <li class="link w-100 lightgradient">
              <div class="d-grid w-100 lightgradient">
                <a class="my-4 f-file d-flex justify-content-evenly w-100"  (click)="routerLink('Users Management','Admin-Users','Usersicon.svg')">
                  <div class="gohover w-100">
                    <img src="../../assets/images/go.svg" width="26" />
                  </div>
                  <div class="col-md-5 ms-4" style="text-wrap: wrap">
                    <img
                      src="../../assets/images/Usersicon.svg"
                      class="mx-6"
                      width="150"
                    />
                  </div>
                  <div class="col-md-7" style="text-wrap: wrap">
                    <h4 class="mx-6">Users</h4>
                    <span class="description"
                      >We can search and stimulate the experience</span
                    >
                  </div>
                </a>
                <a  class="my-4 f-file d-flex justify-content-evenly w-100" (click)="routerLink('Group Management','Admin-Groups','Groupsicon.svg')">
                  <div class="gohover w-100">
                    <img src="../../assets/images/go.svg" width="26" />
                  </div>
                  <div class="col-md-5 ms-4" style="text-wrap: wrap">
                    
                    <img
                      src="../../assets/images/Groupsicon.svg"
                      class="mx-6"
                      width="150"
                    />
                  </div>
                  <div class="col-md-7" style="text-wrap: wrap">
                    <h4 class="mx-6">Groups</h4>
                    <span class="description"
                      >We can search and stimulate the experience</span
                    >
                  </div>
                </a>
                <a class="my-4 f-file d-flex justify-content-evenly w-100" (click)="routerLink('Permissions','Admin-Permissions','Permissionsicon.svg')">
                  <div class="gohover w-100">
                    <img src="../../assets/images/go.svg" width="26" />
                  </div>
                  <div class="col-md-5 ms-4" style="text-wrap: wrap">
                    <img
                      src="../../assets/images/Permissionsicon.svg"
                      class="mx-6"
                      width="150"
                    />
                  </div>
                  <div class="col-md-7" style="text-wrap: wrap">
                    <h4 class="m-6">Permissions</h4>
                    <span class="description"
                      >We can search and stimulate the experience</span
                    >
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <img src="../../assets/images/checklist.svg" />
          <span class="p-2">Audit</span>
          <ul>
            <li class="link w-100">
              <div class="d-grid w-100">
                <a (click)="routerLink('Data Audit','Audit-Data','DataAudit.svg')" class="my-4 f-file d-flex justify-content-evenly w-100">
                  <div class="gohover w-100">
                    <img src="../../assets/images/go.svg" width="26" />
                  </div>
                  <div class="col-md-5 ms-4" style="text-wrap: wrap">
                    <img
                      src="../../assets/images/DataAudit.svg"
                      class="mx-6"
                      width="150"
                    />
                  </div>
                  <div class="col-md-7" style="text-wrap: wrap">
                    <h4 class="mx-6">Data Audit</h4>
                    <span class="description"
                      >We can search and stimulate the experience</span
                    >
                  </div>
                </a>
                <a (click)="routerLink('Login Logout Audit','Audit-Login-Logout','loginLogoutAudit.svg')" class="my-4 f-file d-flex justify-content-evenly w-100">
                  <div class="gohover w-100">
                    <img src="../../assets/images/go.svg" width="26" />
                  </div>
                  <div class="col-md-5 ms-4" style="text-wrap: wrap">
                    <img
                      src="../../assets/images/loginLogoutAudit.svg"
                      class="mx-6"
                      width="150"
                    />
                  </div>
                  <div class="col-md-7" style="text-wrap: wrap">
                    <h4 class="mx-6">Login-Logout Audit</h4>
                    <span class="description"
                      >We can search and stimulate the experience</span
                    >
                  </div>
                </a>
                <a (click)="routerLink('Scheduler Audit','Audit-Scheduler','schedulerAudit.svg')" class="my-4 f-file d-flex justify-content-evenly w-100">
                  <div class="gohover w-100">
                    <img src="../../assets/images/go.svg" width="26" />
                  </div>
                  <div class="col-md-5 ms-4" style="text-wrap: wrap">
                    <img
                      src="../../assets/images/schedulerAudit.svg"
                      class="mx-6"
                      width="150"
                    />
                  </div>
                  <div class="col-md-7" style="text-wrap: wrap">
                    <h4 class="m-6">Scheduler Audit</h4>
                    <span class="description"
                      >We can search and stimulate the experience</span
                    >
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </li>
        <li (click)="routerLink('Reports','Reports','analysis.svg')">
          <img src="../../assets/images/analysis.svg"  />
          <span class="p-2">Reports</span>
        </li>
        <li (click)="routerLink('Dashboard','Dashboard','dashboard.svg')">
          <img src="../../assets/images/dashboard.svg" />
          <span class="p-2">Dashboards</span>
        </li>
        <li>
          <img src="../../assets/images/database-management.svg" />
          <span class="p-2">Data Builders</span>
          <ul>
            <li class="link w-100">
              <div class="d-grid w-100">
                <a class="my-5 f-file d-flex justify-content-evenly w-100" (click)="routerLink('Report Builder','Report-Builder','ReportBuilder.svg')">
                  <div class="gohover w-100">
                    <img src="../../assets/images/go.svg" width="26" />
                  </div>
                  <div class="col-md-5 ms-4" style="text-wrap: wrap">
                    <img
                      src="../../assets/images/ReportBuilder.svg"
                      class="mx-6"
                      width="150"
                    />
                  </div>
                  <div class="col-md-7" style="text-wrap: wrap">
                    <h4 class="mx-6">Report Builder</h4>
                    <span class="description"
                      >We can search and stimulate the experience</span
                    >
                  </div>
                </a>
                <!-- <a href="" class="my-5 d-flex justify-content-evenly w-100">
                  <div class="col-md-5 ms-4" style="text-wrap: wrap">
                    <img
                      src="../../assets/images/Groupsicon.svg"
                      class="mx-6"
                      width="150"
                    />
                  </div>
                  <div class="col-md-7" style="text-wrap: wrap">
                    <h4 class="mx-6">Login-Logout Audit</h4>
                    <span class="description"
                      >We can search and stimulate the experience</span
                    >
                  </div>
                </a> -->
              </div>
            </li>
          </ul>
        </li>
        <li  (click)="routerLink('Data Source','Datasource','personal.svg')">
          <img src="../../assets/images/personal.svg" />
          <span class="p-2">Data Source</span>
        </li>
        <li (click)="routerLink('Scheduler','Scheduler','schedule.svg')">
          <img src="../../assets/images/schedule.svg" />
          <span class="p-2">Scheduler</span>
        </li>
        <li (click)="routerLink('Collections','Collections','collection.svg')">
          <img src="../../assets/images/collection.svg" />
          <span class="p-2">Collections</span>
        </li>
        <li>
          <a (click)="routerLink('SSO Config','configurations/sso','document.svg')">
            <img src="../../assets/images/document.svg" />
            <span class="p-2">Configurations</span>
          </a>

          <!-- <ul>
                <li class="link w-100">
                  <div class="d-grid w-100">
                      <a href="" class="my-5 d-flex justify-content-evenly w-100">
                          <div class="col-md-5 ms-4" style='text-wrap: wrap;'>
                              <img src="../../assets/images/ssoConfiguration.svg" class="mx-6" width="150"/> 
                          </div>
                         <div class="col-md-7" style='text-wrap: wrap;'>
                          <h4 class="mx-6">SSO Configurations</h4>
                          <span class="description">We can search and stimulate 
                              the experience</span>
                         </div>
                         
                      </a>
                      <a href="" class="my-5 d-flex justify-content-evenly w-100">
                          <div class="col-md-5 ms-4" style='text-wrap: wrap;'>
                              <img src="../../assets/images/smtpConfig.svg" class="mx-6" width="150"/> 
                          </div>
                         <div class="col-md-7" style='text-wrap: wrap;'>
                          <h4 class="mx-6">SMTP Configurations</h4>
                          <span class="description">We can search and stimulate 
                              the experience</span>
                         </div>
                          
                      </a>
                     
                  </div>
                 
                </li>
                
                
              </ul> -->
        </li>
      </ul>
    </li>
  </ul>
</div>
