.overlay.interceptor-spinner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1); /* Semi-transparent white */
    // backdrop-filter: blur(10px); /* Optional: adds a blur effect to the background */
    z-index: 9999; /* Ensures it stays above other content */
  }
  
  .custom-spinner-video {
    max-width: 25%;
    max-height: 100%;
    border-radius: 50%; /* Makes the video circular */
  }