<div class="container-body">
  <div class="userbgdashboard px-3 m-2 pt-2 pb-2">
    <div class="col-md-12 p-2 my-1 d-flex align-items-center">
      <div class="col-5 p-0">
        <div class="form">
          <input
            type="text"
            class="form-control form-input"
            placeholder="Search anything..."
          />
          <img src="../../assets/images/clear.png" class="clearicon" />
          <span class="left-pan">
            <img src="../../assets/images/searchicon.png" class="ps-2" />
          </span>
        </div>
      </div>
      <div class="col-7 d-flex justify-content-end p-0">
        <div class="btn-group" dropdown>
          <button
            (click)="filter()"
            type="button" style="transition: all .4s ease;"
            class="btn btn-outline-primary mx-2 dropdown-toggle"
          >
            <img src="../../assets/images/filter.svg" /> Filter<span
              class="caret"
            ></span>
          </button>
        </div>

        <button type="button" class="btn btn-outline-primary mx-3">
          <img class="button-icon-md" src="../../assets/images/refresh-arrow.png" />Reload
        </button>
      </div>
    </div>
   
    <div class="col-md-12 card">
      <div [ngClass]="{'collapse.show': isOpen, 'collapse':!isOpen}" id="collapseExample" *ngIf="isOpen===true">
        <div class=" d-flex justify-content-between col-sm-12 secondaryAccordion">
          <div class="col-first d-flex ">
            <div class="fromDate">
              <input type="text"
              placeholder="From"
              class="form-control dateinput"
              [bsConfig]="{withTimepicker: true, rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a', dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}"
              bsDatepicker>
            </div>
            <div class="toDate">
              <input type="text"
              placeholder="To"
              class="form-control dateinput"
              [bsConfig]="{withTimepicker: true, rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a', dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}"
              bsDatepicker>
            </div>
            <div class="card ms-1 me-2 d-flex justify-content-center">
              <p-dropdown 
                  [options]="countries" 
                  [(ngModel)]="selectedCountry" 
                  optionLabel="name" 
                  [filter]="true" 
                  filterBy="name" 
                  [showClear]="true"
                  placeholder="Action"
                  styleClass="w-20rem">
                      <ng-template pTemplate="filter" let-options="options">
                          <div class="d-flex gap-1">
                              <div class="p-inputgroup" (click)="$event.stopPropagation()">
                                  <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                                  <input 
                                      type="text"
                                      pInputText
                                      placeholder="Filter"
                                      [(ngModel)]="filterValue"
                                      (keyup)="customFilterFunction($event, options)" />
                              </div>
                              <button pButton icon="pi pi-times" (click)="resetFunction(options)"></button>
                          </div>
                      </ng-template>
                      <ng-template pTemplate="selectedItem" let-selectedOption>
                          <div class="flex align-items-center gap-2">
                              <img 
                                  src="../../assets/images/import.svg" />
                              <div>Insert</div>
                              <p-inputSwitch [(ngModel)]="checked" />
                          </div>
                      </ng-template>
                      <ng-template let-country pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <img 
                              src="../../assets/images/upated.svg" />
                          <div>Updated</div>
                          <p-inputSwitch [(ngModel)]="checked" />
                      </div>
                      </ng-template>
                      <ng-template let-country pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <img 
                              src="../../assets/images/trash.png" />
                          <div>Delete</div>
                          <p-inputSwitch [(ngModel)]="checked" />
                      </div>
                      </ng-template>
              </p-dropdown>
              </div>
              <div class="card d-flex justify-content-center inputmodule">
                <p-dropdown 
                    [options]="countries" 
                    [(ngModel)]="selectedCountry" 
                    optionLabel="name" 
                    [filter]="true" 
                    filterBy="name" 
                    [showClear]="true"
                    placeholder="Module"
                    styleClass="w-20rem">
                        <ng-template pTemplate="filter" let-options="options">
                            <div class="d-flex gap-1">
                                <div class="p-inputgroup" (click)="$event.stopPropagation()">
                                    <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                                    <input 
                                        type="text"
                                        pInputText
                                        placeholder="Filter"
                                        [(ngModel)]="filterValue"
                                        (keyup)="customFilterFunction($event, options)" />
                                </div>
                                <button pButton icon="pi pi-times" (click)="resetFunction(options)"></button>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="selectedItem" let-selectedOption>
                            <div class="flex align-items-center gap-2">
                                <img 
                                    src="../../assets/images/import.svg" />
                                <div>Insert</div>
                                <p-inputSwitch [(ngModel)]="checked" />
                            </div>
                        </ng-template>
                        <ng-template let-country pTemplate="item">
                          <div class="flex align-items-center gap-2">
                            <img 
                                src="../../assets/images/upated.svg" />
                            <div>Updated</div>
                            <p-inputSwitch [(ngModel)]="checked" />
                        </div>
                        </ng-template>
                        <ng-template let-country pTemplate="item">
                          <div class="flex align-items-center gap-2">
                            <img 
                                src="../../assets/images/trash.png" />
                            <div>Delete</div>
                            <p-inputSwitch [(ngModel)]="checked" />
                        </div>
                        </ng-template>
                </p-dropdown>
                </div>
          </div>
         <div class="col-second d-flex">
          <button
          type="button"
          class="btn btn-secondary"
        >
         Clear
        </button>
        <button
        type="button"
        class="btn btn-primary"
      >
       Submit
      </button>
         </div>
             
        </div>
      </div>
      <div class="card">
        <p-table
          [value]="customers"
          [paginator]="true"
          [rows]="5"
          [first]="first"
          [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '50rem' }"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          (onPage)="pageChange($event)"
          [rowsPerPageOptions]="[10, 25, 50]"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 25%">Name</th>
              <th style="width: 25%">Country</th>
              <th style="width: 25%">Company</th>
              <th style="width: 25%">Representative</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-customer>
            <tr>
              <td>{{ customer.name }}</td>
              <td>{{ customer.country.name }}</td>
              <td>{{ customer.company }}</td>
              <td>{{ customer.representative.name }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
