
<div class="container-body " style="margin: 0px 16px;">
    <!-- <div class="titleBreadCrumbs px-3 m-2">
      <div class="container-fluid mx-auto">Dashboard</div>
    </div> -->
  
  <div class="userbgdashboard" *ngIf="tabsOverviewShow===false" >
      <div class="container-fluid">

        <div class="col-md-12 p-2 my-1 d-flex align-items-center">
          <div class="col-5 p-0">
            <div class="form">
              <input type="text" class="form-control form-input" placeholder="Search anything...">
              <img src="../../assets/images/clear.png" class="clearicon">
              <span class="left-pan">
                <img src="../../assets/images/searchicon.png" class="ps-2"/>
              </span>
            </div>
          </div>
          <div class="col-7 d-flex justify-content-end p-0">
   
<button  type="button" class="btn btn-outline-primary mx-3">
<img class="button-icon-md" src="../../assets/images/refresh-arrow.png" />Reload
</button>


    
              <button
              #open
              type="button"
              (click)="openModal()"
              class="btn btn-primary mx-1 primaryanimatebutton"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
              style="position: relative"
            >
              <span class="button__icon">
                <img src="../../assets/images/addnew.png" />
              </span>
              <p class="mx-3 button__text" style="color: white !important">New</p>
            </button>
            <!-- Modal -->

          <div
          class="modal fade"
          id="staticBackdrop"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">New Tab</h5>
                <button
                  type="button"
                  class=""
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  style="border: none; background: none; outline: none"
                >
                  <img src="../../assets/images/popupclose.png" width="30" />
                </button>
              </div>
              <div class="modal-body">
             <div class="card">
              <div class="col-md-12">
                <div class="steppercard">
                  <div class="stepper-horizontal" id="stepper1">
                    <div class="step editing">
                      <div class="step-circle"><span>1</span></div>
                      <div class="step-title">Basic Details</div>
                      <div class="step-bar-left"></div>
                      <div class="step-bar-right"></div>
                    </div>
                    <div class="step">
                      <div class="step-circle"><span>2</span></div>
                      <div class="step-title">Query Configuration</div>
                      <div class="step-bar-left"></div>
                      <div class="step-bar-right"></div>
                    </div>
                    <!-- <div class="step">
                      <div class="step-circle"><span>3</span></div>
                      <div class="step-title">Contacts</div>
                      <div class="step-optional">Optional</div>
                      <div class="step-bar-left"></div>
                      <div class="step-bar-right"></div>
                    </div>
                    <div class="step">
                      <div class="step-circle"><span>4</span></div>
                      <div class="step-title">Reporting Info</div>
                      <div class="step-optional">Optional</div>
                      <div class="step-bar-left"></div>
                      <div class="step-bar-right"></div>
                    </div> -->
                  </div>
                </div>
               
              </div>
              <div class="col-md-12">
                <div class="basicDetails" *ngIf="basicDetailspage===true">
                  
                    <div class="mb-3 row">
                      <label for="staticEmail" class="col-sm-2 col-form-label">Name<small>*</small></label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="staticEmail" >
                      </div>
                    </div>
                   
                    <div class="mb-3 row">
                      <label for="Description" class="col-sm-2 col-form-label">Description</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    </div>
               
                 
   
                </div>
                <div class="configurations"*ngIf="configPage===true">
   
                   <div class="mb-3 row">
                       <label for="staticEmail" class="col-sm-2 col-form-label">Data Source<small>*</small></label>
                       <div class="col-sm-10">
                         <input type="text" class="form-control" id="staticEmail" >
                       </div>
                     </div>
                    
                     <div class="mb-3 row">
                       <label for="Description" class="col-sm-2 col-form-label">Query Editor</label>
                       <div class="col-sm-10">
                         <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                         <div class="col-sm-12 d-flex align-items-center p-0">
                       <div class="col-sm-7 p-0">
                           <button class="btn btn-secondary testConn" (click)="Validate()">
                               <label for="inputPassword" class="col-form-label">Validate</label>
                           </button>
   
                           <i *ngIf="spinnerTriggered===true" class="pi pi-spin pi-spinner" style="font-size: 1.5rem"></i>
                           <img src="../../assets/images/x-button.png" class="d-none" >
                           <img src="../../assets/images/checked.png" class="d-none" >
                       </div>
                       <div class="col-sm-5 d-flex justify-content-end p-0">
                        <button
              #openRecords
              type="button"
              (click)="Recordsopenmodal()"
              class="btn btn-secondary mx-1"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdropRecords"
              style="position: relative"
            >
            <label for="inputPassword" class="col-form-label">Records<i  class="pi pi-angle-double-right mx-1" style="font-size: 16px"></i></label>
            </button>
                            
                       </div>
                    
                         </div>
                      
                       </div>
                     </div>
                 
                </div>
              </div>
             </div>
                
              </div>
              <div class="modal-footer col-md-12 d-flex justify-content-between ">
                <div class="col-md-2 d-flex justify-content-start  ">
                  <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="backStep(1)"
                  *ngIf="configPage===true"
                >
                 Back
                </button>
                </div>
                <div class="col-md-9 d-flex justify-content-end ">
                  <button
                  #close
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="nextStep()"
                  *ngIf="basicDetailspage===true"
                >
                 Next
                </button>
                <button
                type="button"
                class="btn btn-primary"
                (click)="nextStep()"
                *ngIf="configPage===true"
              >
               Submit
              </button>
                </div>
              
              </div>
            </div>
          </div>
        </div>

    </div>

  </div>

  
  <div class="col-md-12 p-3 d-flex">
        
    <div class="Collection-file mx-3 card  d-flex justify-content-start" *ngFor="let file of filename">
      <div class="gohover w-100">
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="infooverviewtoggle pe-1"
                  aria-controls="dropdown-basic">
                  <img src="../../assets/images/Menu card.png" class="ms-2" width="20"/>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu overviewddmenu"
              role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="#">
                <img src="../../assets/images/viewicon.svg" class="mx-3" width="20"/> Overview</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">
              <img src="../../assets/images/pen.png" class="mx-3" width="18"/> Edit</a></li>
         
            <li role="menuitem"><a class="dropdown-item" href="#">
              <img src="../../assets/images/x-button.png" class="mx-3" width="20"/>Close</a></li>

        
          </ul>
          </div>
   </div>
      <div class="file" (click)="folderfilemanagement(file.name)" style="cursor: pointer;">
        <img src="../../assets/images/Coll.png" style="width: 70%;" />
        <h6 class="mt-2">{{file.name}}</h6>  
      </div>
   
  </div>
  </div>

  <div class="subfolderoverview">
    
  </div>

  

  </div>

</div>

<div class="subfolderoverview" *ngIf="tabsOverviewShow===true">
  <div (click)="$event.preventDefault()">
    <!-- <p>Change quantity of tabs by manipulating tabs array</p>
    <button type="button" class="btn btn-primary btn-sm" (click)="addNewTab()">
      Add new tab
    </button>
    <button type="button" class="btn btn-primary btn-sm" (click)="tabs = []"  *ngIf="tabs.length">
      Remove all tabs
    </button> -->

  <tabset #staticTabs>
    <tab heading="Report Builder">
      <div class="userbgdashboard">
        <div class="container-fluid">
  
          <div class="col-md-12 p-2 my-1 d-flex align-items-center">
            <div class="col-5 p-0">
              <div class="form">
                <input type="text" class="form-control form-input" placeholder="Search anything...">
                <img src="../../assets/images/clear.png" class="clearicon">
                <span class="left-pan">
                  <img src="../../assets/images/searchicon.png" class="ps-2"/>
                </span>
              </div>
            </div>
            <div class="col-7 d-flex justify-content-end p-0">
     
  <button  type="button" class="btn btn-outline-primary mx-3">
  <img class="button-icon-md" src="../../assets/images/refresh-arrow.png" />Reload
  </button>
  
  
      
                <button
                #open
                type="button"
                (click)="openModal()"
                class="btn btn-primary mx-1 primaryanimatebutton"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
                style="position: relative"
              >
                <span class="button__icon">
                  <img src="../../assets/images/addnew.png" />
                </span>
                <p class="mx-3 button__text" style="color: white !important">New</p>
              </button>
              <!-- Modal -->
  
            <div
            class="modal fade"
            id="staticBackdrop"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">New Tab</h5>
                  <button
                    type="button"
                    class=""
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    style="border: none; background: none; outline: none"
                  >
                    <img src="../../assets/images/popupclose.png" width="30" />
                  </button>
                </div>
                <div class="modal-body">
               <div class="card">
                <div class="col-md-12">
                  <div class="steppercard">
                    <div class="stepper-horizontal" id="stepper1">
                      <div class="step editing">
                        <div class="step-circle"><span>1</span></div>
                        <div class="step-title">Basic Details</div>
                        <div class="step-bar-left"></div>
                        <div class="step-bar-right"></div>
                      </div>
                      <div class="step">
                        <div class="step-circle"><span>2</span></div>
                        <div class="step-title">Query Configuration</div>
                        <div class="step-bar-left"></div>
                        <div class="step-bar-right"></div>
                      </div>
                      <!-- <div class="step">
                        <div class="step-circle"><span>3</span></div>
                        <div class="step-title">Contacts</div>
                        <div class="step-optional">Optional</div>
                        <div class="step-bar-left"></div>
                        <div class="step-bar-right"></div>
                      </div>
                      <div class="step">
                        <div class="step-circle"><span>4</span></div>
                        <div class="step-title">Reporting Info</div>
                        <div class="step-optional">Optional</div>
                        <div class="step-bar-left"></div>
                        <div class="step-bar-right"></div>
                      </div> -->
                    </div>
                  </div>
                 
                </div>
                <div class="col-md-12">
                  <div class="basicDetails" *ngIf="basicDetailspage===true">
                    
                      <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Name<small>*</small></label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="staticEmail" >
                        </div>
                      </div>
                     
                      <div class="mb-3 row">
                        <label for="Description" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                      </div>
                 
                   
     
                  </div>
                  <div class="configurations"*ngIf="configPage===true">
     
                     <div class="mb-3 row">
                         <label for="staticEmail" class="col-sm-2 col-form-label">Data Source<small>*</small></label>
                         <div class="col-sm-10">
                           <input type="text" class="form-control" id="staticEmail" >
                         </div>
                       </div>
                      
                       <div class="mb-3 row">
                         <label for="Description" class="col-sm-2 col-form-label">Query Editor</label>
                         <div class="col-sm-10">
                           <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                           <div class="col-sm-12 d-flex align-items-center p-0">
                         <div class="col-sm-7 p-0">
                             <button class="btn btn-secondary testConn" (click)="Validate()">
                                 <label for="inputPassword" class="col-form-label">Validate</label>
                             </button>
     
                             <i *ngIf="spinnerTriggered===true" class="pi pi-spin pi-spinner" style="font-size: 1.5rem"></i>
                             <img src="../../assets/images/x-button.png" class="d-none" >
                             <img src="../../assets/images/checked.png" class="d-none" >
                         </div>
                         <div class="col-sm-5 d-flex justify-content-end p-0">
                          <button
                #openRecords
                type="button"
                (click)="Recordsopenmodal()"
                class="btn btn-secondary mx-1"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdropRecords"
                style="position: relative"
              >
              <label for="inputPassword" class="col-form-label">Records<i  class="pi pi-angle-double-right mx-1" style="font-size: 16px"></i></label>
              </button>
                              
                         </div>
                      
                           </div>
                        
                         </div>
                       </div>
                   
                  </div>
                </div>
               </div>
                  
                </div>
                <div class="modal-footer col-md-12 d-flex justify-content-between ">
                  <div class="col-md-2 d-flex justify-content-start  ">
                    <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="backStep(1)"
                    *ngIf="configPage===true"
                  >
                   Back
                  </button>
                  </div>
                  <div class="col-md-9 d-flex justify-content-end ">
                    <button
                    #close
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="nextStep()"
                    *ngIf="basicDetailspage===true"
                  >
                   Next
                  </button>
                  <button
                  type="button"
                  class="btn btn-primary"
                  (click)="nextStep()"
                  *ngIf="configPage===true"
                >
                 Submit
                </button>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
  
      </div>
  
    </div>
  
    
    <div class="col-md-12 p-3 d-flex">
          
      <div class="Collection-file mx-3 card  d-flex justify-content-start" *ngFor="let file of filename">
        <div class="file" (click)="folderfilemanagement(file.name)" style="cursor: pointer;">
          <img src="../../assets/images/Coll.png" style="width: 70%;" />
          <h6 class="mt-2">{{file.name}}</h6>  
        </div>
     
    </div>
    </div>
  
    <div class="subfolderoverview">
      
    </div>
  
    
  
    </div>
  
  </div>
      </tab>  

    <tab *ngFor="let tabz of tabs"
         [style]="{width:'100%'}"
         [heading]="tabz.title"
         [active]="tabz.active"
         (selectTab)="tabz.active = true"
         (deselect)="tabz.active = false"
         [disabled]="tabz.disabled"
         [removable]="tabz.removable"
         (removed)="removeTabHandler(tabz)"
         [customClass]="tabz.customClass"
         [styleClass]=""
         >
         
         <ng-template tabHeading  #toltemplate>
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="infooverviewtoggle pe-1"
                    aria-controls="dropdown-basic">
                    <img src="../../assets/images/Menu card.png" class="ms-2" width="20"/>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu overviewddmenu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="#">
                <img src="../../assets/images/pen.png" class="mx-3" width="20"/> Edit</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">
                <img src="../../assets/images/action info.png" class="mx-3" width="20"/> Info</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">
                <img src="../../assets/images/x-button.png" class="mx-3" width="20"/>Close</a></li>

          
            </ul>
            </div>

        </ng-template>
        <div class="card mb-3">
          <div class="col-sm-12">
            <h5 class="my-2">Overview</h5>
          </div>
          <div class="col-sm-12">
            <div class="cardcolumn py-2 mb-2"  style="overflow: auto;">
              <div class="d-flex col-12">
               
              </div>
              <div class="profiledetails card mx-3 my-2">
                <div class="col-12 d-flex px-3 py-2">
                  <div
                    class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                    style="width: 5%"
                  >
                    <img src="../../assets/images/description (1).png" width="36" />
                  </div>
                  <div class="col-md-11 namegrid">
                    <h5 class="mb-2">Name <small>*</small></h5>
                    <p class="my-1">Mohana Prasad</p>
                  </div>
                </div>
              </div>
              <div class="profiledetails card mx-3 my-2">
                <div class="col-12 d-flex px-3 py-2">
                  <div
                    class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                    style="width: 5%"
                  >
                  <img src="../../assets/images/description (1).png" width="36" />
                  </div>
                  <div class="col-md-11 namegrid">
                    <h5 class="mb-2">Display Name <small>*</small></h5>
                    <p class="my-1">Mohana Prasad</p>
                  </div>
                </div>
              </div>
              <div class="profiledetails card mx-3 my-2">
                <div class="col-12 d-flex px-3 py-2">
                  <div
                    class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                    style="width: 5%"
                  >
                  <img src="../../assets/images/description (1).png" width="36" />
                  </div>
                  <div class="col-md-11 namegrid">
                    <h5 class="mb-2">Group <small>*</small></h5>
                    <p class="my-1">Admin</p>
                  </div>
                </div>
              </div>
              <div class="profiledetails card mx-3 my-2">
                <div class="col-12 d-flex px-3 py-2">
                  <div
                    class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                    style="width: 5%"
                  >
                  <img src="../../assets/images/description (1).png" width="36" />
                  </div>
                  <div class="col-md-11 namegrid">
                    <h5 class="mb-2">Phone Number <small>*</small></h5>
                    <p class="my-1">987643210</p>
                  </div>
                </div>
              </div>
              <div class="profiledetails card mx-3 my-2">
                <div class="col-12 d-flex px-3 py-2">
                  <div
                    class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                    style="width: 5%"
                  > 
                  <img src="../../assets/images/description (1).png" width="36"  />
                  </div>
                  <div class="col-md-11 namegrid">
                    <h5 class="mb-2">Name <small>*</small></h5>
                    <p class="my-1">Mohana Prasad</p>
                  </div>
                </div>
              </div>
            </div>  
          </div>
        </div>
    </tab>
  </tabset>
</div>
  </div>

  <div class="modal fade" id="staticBackdropRecords" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Records</h5>
          <button type="button" class="" data-bs-dismiss="modal"  aria-label="Close" style="border: none;background: none;outline: none;">
            <img src="../../assets/images/popupclose.png" width="30" />
          </button>
        </div>
        <div class="modal-body">
         <table>
             <thead>
                 <tr>
                     <th>ID</th>
                       <th>Values</th>
                       
                     </tr>
                   </thead>
             
                     <tbody>
                       <tr>
                         <td><p>1</p></td>
                         <td><p>Credit</p></td>
                       
                       </tr>
                       <tr>
                         <td><p>2</p></td>
                         <td><p>Debit</p></td>
                       
                       </tr>
                   
                   </tbody>
                 
         </table> 
          
        </div>
        <div class="modal-footer">
          <button #closeRecords  type="button" class="btn btn-secondary"   data-bs-dismiss="modal"
          aria-label="Close" (click)="closeRecordsModal()">Close</button>

        </div>
      </div>
    </div>
  </div>


  
  
  
  
  
  
  