<div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="infotoggle"
            aria-controls="dropdown-basic">
            <img src="../../assets/images/Menu card.png" class="ms-2" width="20"/>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
    role="menu" aria-labelledby="button-basic">
  <li role="menuitem"><a class="dropdown-item" href="#">
    <img src="../../assets/images/pen.png" class="mx-2" width="20"/> Edit</a></li>
  <li role="menuitem"><a class="dropdown-item" href="#">
    <img src="../../assets/images/action info.png" class="mx-2" width="20"/> Info</a></li>
  <li role="menuitem"><a class="dropdown-item" href="#">
    <img src="../../assets/images/x-button.png" class="mx-2" width="20"/>Close</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Add New</a>

</ul>
    </div>