<div class="container-fluid d-flex" style="height: 88vh">
  <div class="col-md-6 h-100">
    <h1 class="mainText">Lightweight, scalable Application for your</h1>
    <h1 class="subtext">
      Reports
      <h1 class="mx-2">and</h1>
      services
    </h1>
    <div class="fadein">
      <img id="f1" src="../../assets/images/genesyslogo.png" />
      <img id="f2" src="../../assets/images/amazon-connect.png" />
    </div>
  </div>
  <div class="col-md-6 h-100" style="transform: translate(20%, 20%)">
    <div class="imgbg" style="width: 60%">
      <img
        src="../../assets/images/landingbg.png"
        class="object-fit-cover"
        style="width: 100%"
      />
    </div>
  </div>
</div>
