<div class="container-body" style="height: 88vh">
  <div class="titleBreadCrumbs px-3 m-2">
    <div class="container-fluid mx-auto">Title Comes here</div>
  </div>
  <div class="userbg px-3 m-2">
    <div class="container-fluid mx-auto">
      <app-user-profile></app-user-profile>
    </div>
  </div>
</div>
