<div class="col-md-12 d-flex align-items-center justify-content-between" style="height: 40px;">
    <div class="col-md-6">

        <div class="title route-title d-flex justify-content-start align-items-center">
            <img class="mr-3" *ngIf="this.sharedService.routeTitle!=''" width="30" height="30" src="../../assets/images/personal.svg" />
            {{this.sharedService.routeTitle}}
        </div>

    </div>
    <div class="col-md-6"></div>
</div>