<div class="container-body">
  <div class="userbgdashboard px-3 m-2 pt-2 pb-2">
    <div class="col-md-12 p-2 my-1 d-flex align-items-center">
      <div class="col-5 p-0">
        <div class="form">
          <input [(ngModel)]="searchKey" type="text" class="form-control form-input content-text" placeholder="Search" (input)="search()">
          <img (click)="searchKey='';search()" class="button-icon" src="../../assets/images/popupclose.png" class="searchclearicon">
          <span class="left-pan d-flex align-items-center">
            <i class="pi pi-search primaryicon"></i>
          </span>
        </div>
      </div>
      <div class="col-7 d-flex justify-content-end p-0">
        <div class="btn-group" dropdown>
          <button id="button-custom-html" dropdownToggle type="button"
            class="btn btn-outline-primary mx-2 dropdown-toggle" aria-controls="dropdown-custom-html">
            <i class="pi pi-sort-alt primaryicon mr-1 "></i>
            <!-- <img class="button-icon-md mr-2 hueprimary" src="../../assets/images/sortby.svg" />  -->
            Sort by<span class="caret"></span>
          </button>

          <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu sortdropdown" role="menu"
            aria-labelledby="button-custom-html">
            <div *ngFor="let category of _sharedService.sortCategoryList; let i = index">
              <div class="col-md-12 radiobuttons px-0 py-2 d-flex pe-auto " (click)="this.dataSourceList=_sharedService.sorting(dataSourceList,category.key,category.orderkey)">
                <div class="sort-rad d-flex justify-content-between align-items-center  col-md-1">
                  <input [(ngModel)]="category.key" [checked]="category.key===_sharedService.selectedSortType" type="radio" id="{{ 'radio-' + i }}" name="radioGroup"
                    [value]="category.key" (change)="onRadioChange(category.key)" />
                </div>
                <div class="sort-img d-flex justify-content-between align-items-center  col-md-1">
                  <img src="{{category.img}}" class="button-icon-md">
                </div>
                <div class="content-text d-flex justify-content-between align-items-center  col-md-6 ">
                  <span class="content-text">{{ category.name }}</span>
                </div>
                <div class="content-text d-flex justify-content-between align-items-center  col-md-4 ">
                  <span class="content-text">{{ category.order }}</span>
                </div>
              </div>
              <ng-container *ngIf="i < _sharedService.sortCategoryList.length - 1">
                <hr> <!-- Adjust the margin classes as needed -->
              </ng-container>
            </div>

          </ul>
        </div>
        <button (click)="clear()" type="button" class="btn btn-outline-primary mx-3">
          <!-- <img class="button-icon-md" src="../../assets/images/refresh-arrow.png" /> -->
          <i class="pi pi-refresh primaryicon mr-1"></i>
          Reload
        </button>
        <button #open type="button" (click)="isEdit=false;openAddEditPopup()"
          class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#addEditPopupModal"
         >
            <img class="button-icon-md mr-2 "  src="../../assets/images/addnew.svg" />New
        </button>


        <!--Add/Edit Popup Modal -->
        <div class="modal" id="addEditPopupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <span class="modal-title d-flex justify-content-start align-items-center">
                <i class="pi pi-folder-plus popup-icon mr-2" *ngIf="!isEdit" > </i>
                <img *ngIf="isEdit" class="button-icon-lg mr-2" src="../../assets/images/pen.svg">
                <h5 class="modal-title" id="staticBackdropLabel">{{isEdit ? 'Edit Datasource' :'Add Datasource'}}</h5>
              </span>
                <button type="button" class="" (click)="closeAddEditPopup()" data-bs-dismiss="modal" aria-label="Close"
                  style="border: none; background: none; outline: none">
                  <span class="popup-close-icon"> <i
                    class="pi pi-circle-fill"></i>
                  <i class="pi pi-times position-absolute text-white"></i></span>
                  <!-- <img src="../../assets/images/popupclose.png" width="30" /> -->
                </button>
              </div>
              <div class="modal-body">
                <div class="card">
                  <div class="col-md-12">
                    <div class="steppercard">
                      <div class="stepper-horizontal" id="stepper1">
                        <div class="step editing">
                          <div class="step-circle"><span>1</span></div>
                          <div class="step-title">Basic Details</div>
                          <div class="step-bar-left"></div>
                          <div class="step-bar-right"></div>
                        </div>
                        <div class="step">
                          <div class="step-circle"><span>2</span></div>
                          <div class="step-title">Data Source Configuration</div>
                          <div class="step-bar-left"></div>
                          <div class="step-bar-right"></div>
                        </div>
                        <!-- <div class="step">
                    <div class="step-circle"><span>3</span></div>
                    <div class="step-title">Contacts</div>
                    <div class="step-optional">Optional</div>
                    <div class="step-bar-left"></div>
                    <div class="step-bar-right"></div>
                  </div>
                  <div class="step">
                    <div class="step-circle"><span>4</span></div>
                    <div class="step-title">Reporting Info</div>
                    <div class="step-optional">Optional</div>
                    <div class="step-bar-left"></div>
                    <div class="step-bar-right"></div>
                  </div> -->
                      </div>
                    </div>

                  </div>
                  <div class="col-md-12">
                    <div class="basicDetails" *ngIf="basicDetailspage===true">
                      <div class="mb-3 row">
                        <label for="staticName" class="col-sm-2 col-form-label">Name<small>*</small></label>
                        <div class="col-sm-10">
                          <input type="text" [readOnly]="isEdit" [(ngModel)]="dataSource.name" class="form-control"
                            id="staticName">
                          <small class="text-danger error" *ngIf="showErrors && dataSource.name==''">Name is
                            required</small>
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Type<small>*</small></label>
                        <div class="col-sm-10">
                          <div class="card d-flex justify-content-center">
                            <p-dropdown [options]="sqlLanguageTypes" [(ngModel)]="dataSource.type" optionLabel="label"
                              [filter]="true" filterBy="label" [showClear]="true" placeholder="Select SQL Language Type"
                              styleClass="w-100" dataKey="value">
                              <ng-template pTemplate="filter" let-options="options">
                                <div class="d-flex justify-content-between align-items-center p-2 gap-1">
                                  <div class="p-inputgroup" (click)="$event.stopPropagation()">
                                    <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                                    <input type="text" pInputText placeholder="Filter" [(ngModel)]="sqlTypeSearchValue"
                                      (keyup)="filterTypes($event, options)" />
                                  </div>
                                  <button pButton icon="pi pi-times"
                                    (click)="sqlTypeSearchValue=''; filterTypes('', options)"></button>
                                </div>
                              </ng-template>
                              <ng-template pTemplate="selectedItem" let-selectedOption>
                                <div class="d-flex align-items-center gap-2">
                                  <div>{{ selectedOption.label }}</div> <!-- Assuming you want to display the label -->
                                </div>
                              </ng-template>
                              <ng-template let-item pTemplate="item"> <!-- Corrected variable name -->
                                <div class="d-flex align-items-center gap-2">
                                  <div>{{ item.label }}</div> <!-- Displaying the label of the item -->
                                </div>
                              </ng-template>
                            </p-dropdown>

                            <small class="text-danger" *ngIf="showErrors && dataSource.type===''">Type is
                              required</small>
                          </div>
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label for="Description" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                          <textarea [(ngModel)]="dataSource.description" class="form-control"
                            id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                      </div>


                    </div>
                    <div class="configurations" *ngIf="configPage===true">
                      <div class="col-md-12 d-flex justify-content-between align-items-center p-1">

                        <!-- <div class="switch-field col-md-4 p-0">
                          <input type="radio" class="primarycheck" id="radio-one" name="switch-one"
                            (change)="popupPrimarySelected=true" checked />
                          <label for="radio-one">Primary</label>
                          <input type="radio" id="radio-two" name="switch-one" (change)="popupPrimarySelected=false" />
                          <label for="radio-two">Secondary</label>
                        </div> -->

                        <div class="togglebutton  p-0 content-text align-se">
                          <label class="firstlabel"  (click)="popupPrimarySelected=true"
                            [ngClass]="popupPrimarySelected? 'toggleleftactive' : 'toggleleftinactive'">
                            Primary
                          </label>
                          <label class="secondlabel" (click)="popupPrimarySelected=false"
                            [ngClass]="!popupPrimarySelected? 'togglerightactive' : 'togglerightinactive'">
                            Secondary
                          </label>
                        </div>

                        

                        <div *ngIf="!popupPrimarySelected"
                          class="col-md-6 p-0 d-flex justify-content-end align-items-center">
                          <input type="checkbox" [checked]="dataSource.failsafe"
                            (change)="dataSource.failsafe=!dataSource.failsafe" id="checkbox-two" name="switch-one"
                            value="no" class="mx-2" />
                          <label for="checkbox-two">Fail Safe</label>
                        </div>

                      </div>


                      <div class="container row primaryconfig">

                        <div class="mb-3 row">
                          <label class="col-sm-4 col-form-label">Server Host<small>*</small></label>
                          <div class="col-sm-8" *ngIf="popupPrimarySelected">
                            <input autocomplete="off" type="text" class="form-control" id="priHost"
                              [(ngModel)]="dataSource.primaryHost">
                            <small class="text-danger error" *ngIf="showErrors && dataSource.primaryHost==''">Host is
                              required</small>
                          </div>
                          <div class="col-sm-8" *ngIf="!popupPrimarySelected">
                            <input autocomplete="off" type="text" class="form-control" id="secHost"
                              [disabled]="!popupPrimarySelected && !dataSource.failsafe"
                              [(ngModel)]="dataSource.secondaryHost">
                            <small class="text-danger error" *ngIf="showErrors && dataSource.secondaryHost==''">Host is
                              required</small>
                          </div>
                        </div>
                        <div class="mb-3 row">
                          <label class="col-sm-4 col-form-label">Server Port<small>*</small></label>
                          <div *ngIf="popupPrimarySelected" class="col-sm-8">
                            <input autocomplete="off" type="number" class="form-control" id="priPassword"
                              [(ngModel)]="dataSource.primaryPort">
                            <small class="text-danger error" *ngIf="showErrors && dataSource.primaryPort==''">Port is
                              required</small>
                          </div>
                          <div *ngIf="!popupPrimarySelected" class="col-sm-8">
                            <input autocomplete="off" type="number" class="form-control" id="secPassword"
                              [disabled]="!popupPrimarySelected && !dataSource.failsafe"
                              [(ngModel)]="dataSource.secondaryPort">
                            <small class="text-danger error" *ngIf="showErrors && dataSource.secondaryPort==''">Port is
                              required</small>
                          </div>
                        </div>
                        <div class="mb-3 row">
                          <label class="col-sm-4 col-form-label">User Name<small>*</small></label>
                          <div *ngIf="popupPrimarySelected" class="col-sm-8">
                            <input type="text" class="form-control" id="priUsername"
                              [(ngModel)]=" dataSource.primaryUsername">
                            <small class="text-danger error"
                              *ngIf="showErrors && dataSource.primaryUsername==''">Username is required</small>
                          </div>
                          <div *ngIf="!popupPrimarySelected" class="col-sm-8">
                            <input type="text" class="form-control" id="secUsername"
                              [disabled]="!popupPrimarySelected && !dataSource.failsafe"
                              [(ngModel)]=" dataSource.secondaryUsername">
                            <small class="text-danger error"
                              *ngIf="showErrors && dataSource.secondaryUsername==''">Username is required</small>
                          </div>
                        </div>
                        <div class="mb-3 row">
                          <label for="priPassword" class="col-sm-4 col-form-label">Password<small>*</small></label>
                          <div *ngIf="popupPrimarySelected" class="col-sm-8">
                            <input autocomplete="new-password" type="password" class="form-control" id="priPassword"
                              [(ngModel)]=" dataSource.primaryPassword">
                            <small class="text-danger error"
                              *ngIf="showErrors && dataSource.primaryPassword==''">Password is required</small>
                          </div>
                          <div *ngIf="!popupPrimarySelected" class="col-sm-8">
                            <input autocomplete="new-password" type="password" class="form-control" id="secPassword"
                              [disabled]="!popupPrimarySelected && !dataSource.failsafe"
                              [(ngModel)]=" dataSource.secondaryPassword">
                            <small class="text-danger error" *ngIf="showErrors && dataSource.primaryHost==''">Password
                              is required</small>
                          </div>
                        </div>
                        <div class="mb-3 row">
                          <label class="col-sm-4 col-form-label">Database Name<small>*</small></label>
                          <div *ngIf="popupPrimarySelected" class="col-sm-8">
                            <input type="text" class="form-control" id="priDatabase"
                              [ngModel]=" dataSource.primaryDatabaseName">
                            <small class="text-danger error"
                              *ngIf="showErrors && dataSource.primaryDatabaseName===''">Database Name is required</small>
                          </div>
                          <div *ngIf="!popupPrimarySelected" class="col-sm-8">
                            <input type="text" class="form-control" id="secDatabase"
                              [disabled]="!popupPrimarySelected && !dataSource.failsafe"
                              [ngModel]=" dataSource.secondaryDatabaseName">
                            <small class="text-danger error"
                              *ngIf="showErrors && dataSource.secondaryDatabaseName===''">Database Name is
                              required</small>
                          </div>
                        </div>
                        <div class="mb-3 row d-flex">
                            <label class=" underline-button col-sm-3"  (click)="testSingleHostConnection()">Test Connection</label>

                          <div class="col-sm-1"></div>

                          
                          <div class="col-sm-1 d-flex align-items-center" 
                          *ngIf="(popupPrimarySelected && datasourcePriTestResult==='testing')||(!popupPrimarySelected && datasourceSecTestResult==='testing')" >
                            <span  class="spinner-border spinner-small"></span>
                          </div>

                          <div
                            *ngIf="(popupPrimarySelected && datasourcePriTestResult==='true')|| (!popupPrimarySelected && datasourceSecTestResult==='true')"
                             class="col-sm-6 d-flex align-items-center">
                            <label for="radio-one">Success</label>
                            <img style="padding-left:5px;width: 23px;height: 20px;"
                              src="../../assets/images/checked.png">
                          </div>
                          <div
                            *ngIf="(popupPrimarySelected && datasourcePriTestResult==='false')|| (!popupPrimarySelected && datasourceSecTestResult==='false')"
                            class="col-sm-7 d-flex align-items-center">
                            <label for="radio-one">Failure</label>
                            <img style="padding-left:5px;width: 23px;height: 20px;"
                              src="../../assets/images/x-button.png">

                          </div>

                          <!-- <i *ngIf="spinnerTriggered===true" class="pi pi-spin pi-spinner" style="font-size: 1.5rem"></i> -->

                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
              <div class="modal-footer col-md-12 d-flex justify-content-between ">
                <div class="col-md-2 d-flex justify-content-start  ">
                  <button type="button" class="btn btn-outline-primary" (click)="backStep(1)" *ngIf="configPage===true">
                    <i class="pi pi-chevron-circle-left"></i>
                    Back
                  </button>
                </div>
                <div class="col-md-9 d-flex justify-content-end ">
                  <!-- <button (click)="closeAddEditPopup()" #close type="button" class="btn btn-outline-primary"
                    data-bs-dismiss="modal">
                    <i class="pi pi-times-circle"></i>
                    Close
                  </button> -->
                  <button type="button" class="btn"
                    [ngClass]="isEdit && basicDetailspage ?'btn btn-outline-primary':'btn btn-outline-primary'"
                    (click)="nextStep()" *ngIf="basicDetailspage">
                    <i class="pi pi-chevron-circle-right"></i>
                    Next
                  </button>
                  <button type="button" class="btn btn-primary" (click)="storeDataSource()"
                    *ngIf="isEdit || configPage">
                    <i class="pi pi-save mr-2"></i>
                    {{isEdit ? 'Save':'Submit'}}
                  </button>
                </div>

              </div>
            </div>
          </div>
        </div>


      </div>
    </div>






    <div class="col-md-12 card-deck">
      <div *ngFor="let data of dataSourceList;index as i" class=" card dataasourcecard "
        >
        <div class="col-md-12 ps-0 title d-grid pe-0">
          <div class="card-header">
            <div class="col-md-12 p-0 d-flex align-items-center">

              <div class="col-md-7 p-1 mt-2 m-0 d-flex justify-content-start">
                <span class=".card-title me-2" style="font-weight: 600;">{{data.name}}</span>
        
              </div>
              <div class="col-md-5 px-4  d-flex justify-content-end">
                <p-inputSwitch [(ngModel)]="data.isEnable"  class="p-switch" />
                <button class="btn btn-outline-primary" style="width: max-content !important;" (click)="
                testAllHostConnection(i)">
                  <!-- <i class="pi pi-bullseye pi-but"></i> -->
                  <span *ngIf="data.showTestSpinner" class="spinner-border spinner-small"></span>
                  <div class="d-flex justify-content-center" *ngIf="!data.showTestSpinner">
                    <span class="check-icon" *ngIf="data?.testresult?.data===true"> <i
                        class="pi pi-circle-fill text-success" style="font-size: 0.90em;"></i>
                      <span class=" position-absolute text-white"
                        style="font-size: 0.6em;">{{data?.connecteddatasource==='primary'?'P':'S'}}</span></span>
                    <span class="check-icon" *ngIf="data?.testresult?.data===null || !data?.testresult?.data"> <i
                        class="pi pi-circle-fill text-danger" style="font-size: 0.90em;"></i>
                      <i class="pi pi-times position-absolute text-white" style="font-size: 0.90em;"></i></span>
                  </div>
                  <!-- ll -->
                  Test
                </button>

                <div class="btn-group position-relative x-2" dropdown>
                  <button id="button-basic" dropdownToggle type="button" class="infotoggle"
                    aria-controls="dropdown-basic">
                    <img src="../../assets/images/Menu card.png" class="ps-2" />
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu menudropdown" role="menu"
                    aria-labelledby="button-basic">

                    <li role="menuitem">
                      <a
                        class="content-text dropdown-item col-md-12 menulistbutton d-flex justify-content-between align-items-center ">
                        <div class="col-md-4 d-flex p-0 justify-content-center align-items-center">
                          <img class="button-icon-sm" src="../../assets/images/copy (1).svg">
                        </div>
                        <div class="col-md-8 d-flex p-0 justify-content-start align-items-center">
                          <span>Duplicate</span>
                        </div>

                      </a>
                    </li>
                    <hr>
                    <li role="menuitem" (click)=" isEdit=true;mapEditedData(data);openAddEditPopup()"
                      data-bs-toggle="modal" data-bs-target="#addEditPopupModal">
                      <a
                        class="content-text dropdown-item col-md-12 menulistbutton d-flex justify-content-between align-items-center ">
                        <div class="col-md-4 d-flex p-0 justify-content-center align-items-center">
                          <img class="button-icon-sm" src="../../assets/images/pen.svg">
                        </div>
                        <div class="col-md-8 d-flex p-0 justify-content-start align-items-center">
                          <span>Edit</span>
                        </div>

                      </a>
                    </li>
                    <hr>
                    <li role="menuitem"
                      (click)="dataSource.id=data.id;dataSource.name=data.name;toggleDeleteModal('open',deleteModalTemplate)">
                      <a
                        class="content-text dropdown-item col-md-12 menulistbutton d-flex justify-content-between align-items-center ">
                        <div class=" col-md-4 d-flex p-0 justify-content-center align-items-center">
                          <img class="button-icon-md mr-2" src="../../assets/images/trash.svg">
                        </div>
                        <div class="col-md-8 d-flex  p-0 justify-content-start align-items-center">
                          <span>Delete</span>
                        </div>

                      </a>

                    </li>


                  </ul>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class=" col-md-12 pl-3 pr-1">
            <div class="col-md-12 d-flex py-1 px-0 d-flex align-items-center">
              <div class="col-md-10 d-flex pl-0">
                <img class="button-icon-lg" src="../../assets/images/sqltext.svg"> <span
                  class="content-text px-2">{{data.type}}</span>
              </div>
              <div class="col-md-2 tooltip-container d-flex pe-0 justify-content-center">
                <span class="tooltip">Created date :
                  {{_sharedService.formatDate(data.createddate)}}<br>Created by :
                  {{data.createdby}}<br>Modified date : {{_sharedService.formatDate(data.modifieddate)}}<br>Modified by
                  : {{data.modifiedby}}</span>
                <i class="pi pi-info-circle pi-md bcol"></i>
                <!-- <img class="text" src="../../assets/images/action info.png" /> -->
              </div>
            </div>
            <div class="primarySecondary">
              <div class="col-md-12 p-0">

                <div class="togglebutton p-0 content-text">
                  <label class="firstlabel" for="firstradio{{i}}" (click)="data.showPrimary=true"
                    [ngClass]="data.showPrimary? 'toggleleftactive' : 'toggleleftinactive'">
                    Primary
                  </label>
                  <label class="secondlabel" for="radiotwo{{i}}" (click)="data.showPrimary=false"
                    [ngClass]="!data.showPrimary? 'togglerightactive' : 'togglerightinactive'">
                    Secondary
                  </label>
                </div>

                <div class="col md-12 py-2 d-grid p-0">
                  <div class="content d-grid">
                    <label class="d-flex py-1 content-text" style="gap: 10px;">
                      <img class="button-icon-lg" src="../../assets/images/databasec.svg">Database name: <span
                        class="cardprimary">{{data.showPrimary
                        ?data.pridatabasename:data.secdatabasename}}</span></label>
                    <label class="d-flex py-1 content-text" style="gap: 10px;">
                      <img class="button-icon-lg" src="../../assets/images/Host.svg">Host: <span
                        class="cardprimary">{{!data.showPrimary? data.prihost+'-'+data.priport :
                        data.sechost+'-'+data.secport}}</span> </label>
                  </div>
                </div>

                <!-- <p-tabView (onSelect)="onTabSelected($event)">
                  <p-tabPanel header="Primary" [ngClass]="{'active-tab': isActive(0)}">

                    <div class="col md-12 d-grid p-0">
                      <div class="content d-grid">

                        <label class="d-flex py-1 datasourcetypelabel" style="gap: 10px;">
                          <img width="20" height="20" src="../../assets/images/databasec.svg">Database name: <span
                            class="cardprimary">{{data.pridatabasename}}</span></label>
                        <label class="d-flex py-1 datasourcetypelabel" style="gap: 10px;">
                          <img width="20" height="20" src="../../assets/images/Host.svg">Host: <span
                            class="cardprimary">{{data.prihost+'-'+data.priport}}</span> </label>
                      </div>
                    </div>
                  </p-tabPanel>
                  <p-tabPanel header="Secondary" [ngClass]="{'active-tab': isActive(1)}">

                    <div class="col md-12 d-grid p-0">
                      <div class="content d-grid">
                        <label class="d-flex py-1 datasourcetypelabel" style="gap: 10px;">
                          <img width="20" height="20" src="../../assets/images/databasec.svg">Database name: <span
                            class="cardsecondary">{{data.secdatabasename}}</span></label>
                        <label class="d-flex py-1 datasourcetypelabel" style="gap: 10px;">
                          <img width="20" height="20" src="../../assets/images/host.svg">Host: <span
                            class="cardsecondary">{{data.sechost+'-'+data.secport}}</span> </label>
                      </div>

                    </div>
                  </p-tabPanel>

                </p-tabView> -->

                <!-- <div class="col-md-12 d-flex togglecard">
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                      <label class="btn btn-primary" for="btnradio1">Primary</label>
                    
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                      <label class="btn btn-primary" for="btnradio2">Radio 2</label>
                    </div> -->

              </div>
            </div>
          </div>
        </div>
      </div>


    </div>


  </div>
</div>

<ng-template #deleteModalTemplate let-datasource="datasource">
  <div class="modal-header">
    <h5 class="modal-title">Delete Confirmation</h5>
    <button type="button" class="btn-close" (click)="toggleDeleteModal('close',deleteModalTemplate)"
      aria-label="Close"></button>
  </div>
  <div class="modal-body">
    Are you sure want to delete the data source <strong>{{ datasource.name }}</strong>?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="toggleDeleteModal('close',deleteModalTemplate)"><i
        class="pi pi-times-circle" style="margin-right: 5px;"></i> Cancel</button>
    <button type="button" class="btn btn-primary" (click)="deleteDatasource()"><i class="pi pi-trash"
        style="margin-right: 5px;"></i>Delete</button>
  </div>
</ng-template>