
 // sets

 $gl-ms         : "screen and (max-width: 23.5em)"; // up to 360px
 $gl-xs         : "screen and (max-width: 35.5em)"; // up to 568px
 $gl-sm         : "screen and (max-width: 48em)";   // max 768px
 $gl-md         : "screen and (max-width: 64em)";   // max 1024px
 $gl-lg         : "screen and (max-width: 80em)";   // max 1280px

.form{

    position: relative;
}

.form .fa-search{
    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{
    position: absolute;
    left: 15rem;
    bottom: 8px;
    padding: unset;
    border-left: 1px solid #d1d5db;

}

.clearicon{
    position: absolute;
    left: 13rem;
    bottom: 8px;
}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{
    text-indent: 6px;
    border-radius: 10px;
    width: 18rem;
}

.form-control:focus,.form-control:active{
  border-color: #019d91;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgb(171 227 223);
}

.dataasourcecard{
    // width: 100%;
    margin: 8px !important;
    max-width: 32%;
    flex-basis:100% ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    

}
.card-deck{
  padding-right: 0;
    display: flex;
    justify-content: space-between;
}
.lastconnection{
  flex-wrap: wrap;width: 36%;
}

//toggleswitch

/* To hide the checkbox */
#checkboxInput {
    display: none;
  }
  
  .toggleSwitch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 24px;
    background-color: rgb(82, 82, 82);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: .2s;
  }
  
  .toggleSwitch::after {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 5px;
    background-color: #fff;
    border-radius: 50%;
    transition-duration: .2s;
    box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
    border: 5px solid white;
  }
  
  #checkboxInput:checked+.toggleSwitch::after {
    transform: translateX(100%);
    transition-duration: .2s;
    background-color: white;
  }
  /* Switch background change */
  #checkboxInput:checked+.toggleSwitch {
    background-color: rgb(148, 118, 255);
    transition-duration: .2s;
  }
  
  .infotoggle{
    transform: rotate(90deg);
    top: 4px;
    display: flex;
    position: absolute;
    margin: 8px 4px;
  }

  hr{
    border: 0.5px solid var(--borderColor);
    width: 95%;
  }
  .dataasourcecard{
    border-radius: 8px;
  }

  .dateStringprimary{
    padding: 8px;
    background: #bbd4df;
    border-radius: 4px;
    color: #0F79A5;
  }

  .cardprimary{
    color: #0F79A5;
  }
  .cardsecondary{
    color: #F16A1B;

  }

  .dateStringsecondary{
    padding: 8px;
    background: #FFDBD5;
    border-radius: 4px;
    color: #F16A1B;
  }

  .togglecard> [type=radio]:checked{
visibility: hidden;
  }
  .togglecard> input > .btn-primary{
      background-color: var(--primaryColor) !important;
  } 
  .btn-primary{
    background-color: var(--primaryColor) !important;
    color: #fff !important;
  }
  .togglecard>[type=radio]:not(:checked){
    visibility: hidden;
  }

  .togglecard>[type=radio]:checked + label:before{
    display: none;
  }
  .togglecard>[type=radio]:not(:checked) + label:before{
    display: none;
  }


  //tooltip
  .tooltip-container {

    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    // font-size: 17px;
    padding: 8px;
    border-radius: 50px;
  }
  
  .tooltip {
    background-color: var(--infoColor);
    position: absolute;
    top: 0;
    width: max-content;
    left: 50%;
    color: #fff;
    transform: translateX(-50%);
    padding: 0.3em 0.6em;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 50px;
  }
  
  .tooltip::before {
    background-color: var(--infoColor);
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    top: 0.2em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
  }
  
  .tooltip-container:hover .tooltip {
    top: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  :host::ng-deep .p-tabview-nav{
    padding:8px 0px ;
  }
  :host ::ng-deep .p-tabview-nav-content{
    max-width: 18rem;
  }
  :host ::ng-deep .p-tabview-selected{
    background: rgb(255, 255, 239);
  }
  
  :host ::ng-deep .p-tabview-nav-link {
    padding: 8px !important;
    color: var(--borderColor);
  }

  :host::ng-deep .p-tabview-nav{
    margin-top: 8px;
    max-width: 10rem;
  }


  :host::ng-deep .p-tabview-nav-link,:host::ng-deep .p-tabview-title,:host::ng-deep .p-tabview-nav>li{
    font-size: var(--tabnotactivefontSize) !important;
    text-decoration: none !important;
  }

  // :host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link:nth-{
  //   background: var(--primaryColor) !important;
  // color: #fff !important;
  // font-size: var(--tabactivefontSize) !important;
  // border-radius: 4px;
  // }
  // :host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link:nth-child(1){
  //   background: #F16A1B !important;
  // color: #fff !important;
  // font-size: var(--tabactivefontSize) !important;
  // border-radius: 4px;
  // }


  :host ::ng-deep .p-tabview .p-tabview-nav{
    gap: 10px;
  }

  :host::ng-deep .p-tabview .p-tabview-nav li.p-highlight [tabindex="0"].p-tabview-nav-link{
    background: #0F79A5 !important;
  color: #fff !important;
  font-size: var(--tabactivefontSize) !important;
  border-radius: 4px;
  }
  :host::ng-deep .p-tabview .p-tabview-nav li:not(.p-highlight) .p-tabview-nav-link{
    background: var(#fff) !important;
  color: var(--borderColor) !important;
  font-size: var(--tabactivefontSize) !important;
  border-radius: 4px;
  }

  :host::ng-deep .p-tabview .p-tabview-nav li.p-highlight [tabindex="-1"].p-tabview-nav-link{
    background: #F16A1B !important;
    color: #fff !important;
    font-size: var(--tabactivefontSize) !important;
    border-radius: 4px;
  }
  :host::ng-deep .p-tabview .p-tabview-nav li:not(.p-highlight) .p-tabview-nav-link{
    background: #fff !important;
    color: var(--borderColor)!important;
    font-size: var(--tabactivefontSize) !important;
    border-radius: 4px;
  }

  :host::ng-deep .p-stepper {
    flex-basis: 40rem;
} 
 


.tab-content {
  transition: transform 0.3s ease-in-out;
}

.tab-pane.fade.show.active {
  transform: translateX(100%);
}

.tab-pane.fade.show.in {
  transform: translateX(0);
}


$fill-color: #019D91;
$border-color: #D9E2EC;
$text-color: #102A43;
$text-color-inactive: #829AB1;
$text-color-optional: #9FB3C8;

.stepper-horizontal {
	display:table;
	width:100%;
    margin:0 auto;
    .step {
        display:table-cell;
        position:relative;
        padding:1.5rem;
        z-index: 2;
      width: 25%;
        &:last-child .step-bar-left,
        &:last-child .step-bar-right {
            display:none;
        }

        .step-circle {
            width:2rem;
            height:2rem;
            margin:0 auto;
            border-radius: 50%;
            text-align: center;
            line-height:1.75rem;
            font-size: 1rem;
            font-weight: 600;
            z-index:2;
            color: var(--borderColor);
            border: 2px solid $border-color;
        }

        &.done {
          .step-title{
            color: $fill-color !important;
          }
            .step-circle {
                background-color:$fill-color;
                border: 2px solid $fill-color;
                color:#FFFFFF;

                &:before {
                    font-family:'FontAwesome';
                    font-weight:100;
                    content: "\f00c";
                }
                * {
                    display:none;
                }
            }
            .step-title {
                color:$text-color;
            }
        }

        &.editing {
            
            .step-circle {
                background: #ffffff;
                border-color:$fill-color;
                color:$fill-color;
            }
            .step-title {
                color:$fill-color;
                text-decoration: none;
            }
        }

        .step-title {
            margin-top:1rem;
            font-size:1rem;
            font-weight:600;
        }
        .step-title, .step-optional {
            text-align: center;
            color: $text-color-inactive;
        }
        .step-optional {
            font-size:0.75rem;
            font-style: italic;
            color: $text-color-optional;
        }

        .step-bar-left, .step-bar-right {
            position:absolute;
            top:calc(2rem + 5px);
            height:5px;
            background-color: $border-color;
            border: solid $border-color;
            border-width: 2px 0;
        }
        .step-bar-left {
            width: calc(100% - 2rem);
            left:50%;
            margin-left:1rem;
            z-index:-1;
        }
        .step-bar-right {
            width:0;
            left:50%;
            margin-left:1rem;
            z-index:-1;
          transition: width 500ms ease-in-out;
        }

        // &.done .step-bar-left, &.editing .step-bar-left {
        //     background-color:$fill-color;
        //     border-color: $fill-color;
        //     z-index: 3;
        // }
        &.done .step-bar-right {
            background-color:$fill-color;
            border-color: $fill-color;
            z-index: 3;
            width: calc(100% - 2rem);
        }
    }
}

.testConn{
  display: flex;
  justify-content: flex-start;
  &:hover{
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
}

.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #ffffff;
	box-shadow: none;
}
.switch-field input:checked + label::before{
  border: 0px solid !important;
}
.switch-field input:not(:checked) + label::before{
  border: 0px solid !important;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.dropdown-item{
  display: flex;
    justify-content: space-around;
    align-items: center;
}
.dropdown-item.active, .dropdown-item:active{
  background: #bbd4df !important;
  background-color: #bbd4df !important;

}
#dropdown-basic{
  width: 10vw !important;
}

.dataprimaryborder{
  border-bottom: 8px solid #0F79A5 !important;
}
.datasecondaryborder{
  border-bottom: 8px solid #F16A1B !important;
}

.dropdown-menu{
  width: max-content !important;
}

:host::ng-deep .p-dropdown {
    padding: 8px;
    width: 100%;
    // background: var(--primaryColor);
    outline: none !important;
    border: 1px solid var(--primaryColor);

    color: var(--primaryColor);
  }
  
  :host::ng-deep svg.p-dropdown-clear-icon.p-icon {
    position: relative;
    top: -5px;
    right: 0;
  }
  
  :host::ng-deep p-dropdown.p-element.p-inputwrapper {
    outline: unset !important;
    border-color: unset !important;
  }
  :host::ng-deep p-dropdown.p-element.p-inputwrapper .p-inputwrapper-focus {
    border-radius: 8px !important;
  }
  
  :host::ng-deep span.p-element.p-dropdown-label.p-inputtext.p-placeholder {
    color: var(--lightTheme) !important;
  }
  
  :host::ng-deep svg.p-dropdown-trigger-icon.p-icon {
    color: var(--lightTheme) !important;
  }

  :host::ng-deep input.p-dropdown-filter.p-inputtext.p-component{
    padding: 4px !important;
  }

  :host::ng-deep .p-dropdown-items{
    padding: 4px !important;
  }

  :host::ng-deep svg.p-dropdown-trigger-icon.p-icon{
    color: var(--primaryColor) !important;
  }

  :host::ng-deep .p-dropdown-filter-icon{
    position: absolute;
    top:10px !important;
  }

  small{
    color: var(--dangerColor);
    font-size: var(--extrasmallSizefont);
}


// table style

table 			      { 
  border-spacing: 1; 
  border-collapse: collapse; 
  background:white;
  border-radius:8px;
  overflow:hidden;
  width:100%;
  margin:0 auto;
  position:relative;
  
  *               { position:relative }
  
  td,th           { padding-left:8px}

  thead tr        { 
    height:40px;
    background:var(--secondaryColor);
    font-size:var(--semiBoldfont);
    color: var(--infoColor);
  }
  
  tbody tr        { height:48px; border-bottom:1px solid #E3F1D5 ;
    &:last-child  { border:0; }
  }
  
 	td,th 					{ text-align:left;
		&.l 					{ text-align:right }
		&.c 					{ text-align:center }
		&.r 					{ text-align:center }
	}
}


@media #{$gl-xs}              {
  
  table					              { display:block;
	  > *,tr,td,th              { display:block }
    
    thead                     { display:none }
    tbody tr                  { height:auto; padding:8px 0;
      td                      { padding-left:45%; margin-bottom:12px;
        &:last-child          { margin-bottom:0 }
        &:before              { 
          position:absolute;
          font-weight:700;
          width:40%;
          left:10px;
          top:0
        }
        
        &:nth-child(1):before { content:"Code";}
        &:nth-child(2):before { content:"Stock";}
        &:nth-child(3):before { content:"Cap";}
        &:nth-child(4):before { content:"Inch";}
        &:nth-child(5):before { content:"Box Type";}
      }        
    }
  }
}  	


.userbgdashboard{
  height: calc(98vh - 20vh);
}

.infooverviewtoggle{
  background: none;
  outline: none;
  border: none;
}

.overviewddmenu>li a{
display: flex;
justify-content: flex-start;
}

.nav-tabs{
  width: 100% !important;
}

::ng-deep .theme-green {
  .bs-datepicker-body {
    table {
      td {
        span.selected {
          background-color: var(--primaryColor) !important;
          border-radius: 100%;
          color: white !important;
        }
      }
    }
  }
}

::ng-deep bs-datepicker-container.bottom{
  width: 22rem;
background: white !important;
z-index: 1111 !important;
border-radius: 4px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
padding: 10px;
}
::ng-deep .bs-datepicker-head{
  background: var(--primaryColor);
  padding: 8px;
}

::ng-deep bs-datepicker-navigation-view{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
::ng-deep bs-datepicker-navigation-view .previous,::ng-deep bs-datepicker-navigation-view .next{
background: white !important;
border-radius: 25px;
width: 30px;
height: 30px;
border: none !important;
outline: none !important;
color: var(--primaryColor) !important;
display: flex;
    visibility: visible;
    justify-content: center;
    align-items: center;
}

::ng-deep bs-datepicker-navigation-view .previous>span,::ng-deep bs-datepicker-navigation-view .next>span{
  font-size: 30px;
    position: relative;
    top: -2px;
}

::ng-deep bs-datepicker-navigation-view .current{
  border: none !important;
  outline: none !important;
  background: none !important;
  color: white !important;
  font-size: 18px !important;
}

::ng-deep table.days.weeks{
  width: 100%;
}

::ng-deep td.week{
  color: var(--primaryColor);
}

::ng-deep td.week>span{
  padding: 4px;
}

::ng-deep th{
  color: #9aaec1;
  padding: 4px;
  font-weight: 300;
}

::ng-deep .bs-datepicker-body table td span.is-other-month{
  color: #00000040;
}

::ng-deep .bs-datepicker-body table.days span {
  justify-content: center;
  display: flex;
  width: 32px;
    height: 32px;
    line-height: 32px;
}

::ng-deep .bs-datepicker-body table td span.is-highlighted:not(.disabled):not(.selected){
  background-color: #e9edf0;
  border-radius: 100%;
  transition: 0s;
}

::ng-deep .bs-datepicker-body table td:not(.disabled):not(.week) span:not(.disabled):not(.is-other-month) {
  cursor: pointer;
}

::ng-deep .bs-datepicker .bs-timepicker-in-datepicker-container{
  display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px;
    margin: 8px 0px;
}

::ng-deep .bs-datepicker-body {
  padding: 10px;
    border-radius: 0 0 3px 3px;
    border: 1px solid #e9edf0;
}

::ng-deep .bs-chevron{
  color: var(--primaryColor);
}

//picklist

:host::ng-deep .p-picklist .p-picklist-list-wrapper{
  background: #ffffff;
    border: 1px dashed var(--primaryColor);
    border-radius: 6px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
    outline-color: transparent;
}

:host::ng-deep .p-picklist .p-picklist-header{
  background: #ffffff;
    color: #334155;
    border: 1px solid #cbd5e1;
    border: 0 none;
    padding: 0.75rem 1rem 0.5rem 1rem;
    font-weight: 600;
    color: #64748b;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

:host::ng-deep .p-picklist {
  display: flex;
  gap: 10px !important;
}

:host::ng-deep .p-picklist .p-picklist-header{
  background: var(--secondaryColor);
    color: var(--infoColor);
    border: 1px solid #cbd5e1;
    border: 0 none;
    padding: 0.75rem 1rem 0.5rem 1rem;
    font-weight: 600;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

:host::ng-deep .p-picklist .p-picklist-filter-container{
  border: 0;
  padding: .5rem 1rem;
      background: #ffffff;
}

:host::ng-deep .p-picklist .p-picklist-filter-container .p-picklist-filter-input{
  padding: 8px 0px;
  width: 100%;
  text-indent: 10px;
}

:host::ng-deep .p-icon-wrapper {
  display: inline-flex;
}

:host::ng-deep .p-picklist .p-picklist-filter-container .p-picklist-filter-icon {
  top: 14px;
  right: 0.75rem;
  color: #94a3b8;
}

:host::ng-deep .p-picklist-buttons{
  display: flex;
  justify-content: center;
}

:host::ng-deep .p-picklist-buttons .p-button {
  transition: opacity 0.2s, outline-color 0.2s, background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  color: #ffffff;
  background: var(--primaryColor);
  border: 1px solid #f1f5f9;
}

:host::ng-deep .p-button.p-button-icon-only {
  width: 2.5rem;
  padding: 0.5rem 0;
  border-radius: 8px;
  margin: 8px 0px;

}

:host::ng-deep .p-disabled, .p-component:disabled {
  opacity: 0.6;
}

:host::ng-deep .p-button-icon-only {
  justify-content: center;
}


.gohover{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-right: 4px;
}

.gohover>img{
  position: absolute;
  top: -27px;
    right: -27px;
}
.Report-file > .gohover{
  display: none;
  position: absolute;
    top: 6px;
    right: 4px;
}

.Report-file:hover> .gohover{
  display: flex;
}


