
<div class="container-body " style="margin: 0px 16px;">
    <!-- <div class="titleBreadCrumbs px-3 m-2">
      <div class="container-fluid mx-auto">Dashboard</div>
    </div> -->
  
  <div class="userbgdashboard" *ngIf="tabsOverviewShow===false">
      <div class="container-fluid">

        <div class="col-md-12 p-2 my-1 d-flex align-items-center">
          <div class="col-5 p-0">
            <div class="form">
              <input type="text" class="form-control form-input" placeholder="Search anything...">
              <img src="../../assets/images/clear.png" class="clearicon">
              <span class="left-pan">
                <img src="../../assets/images/searchicon.png" class="ps-2"/>
              </span>
            </div>
          </div>
          <div class="col-7 d-flex justify-content-end p-0">
   
<button  type="button" class="btn btn-outline-primary mx-3">
<img class="button-icon-md" src="../../assets/images/refresh-arrow.png" />Reload
</button>


<div class="btn-group" dropdown>
  <button id="button-custom-html" dropdownToggle type="button" class="btn btn-primary mx-2 dropdown-toggle"
          aria-controls="dropdown-custom-html">
          <img src="../../assets/images/addnew.png" class="mx-2" /> New<span class="caret mx-2"></span>
  </button>
  
  <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu newcategory"
      role="menu" aria-labelledby="button-custom-html">
      <button
          #openFile
          type="button"
          (click)="openFileModal()"
          class="btn dd mx-1 "
          data-bs-toggle="modal"
          data-bs-target="#staticBackdropFile"
          style="position: relative"
        >
          <span class="button__icon">
            <img src="../../assets/images/Rep.png" width="24" />
          </span>
          <p class="mx-3 button__text">New File</p>
        </button>
        
        <button
        #openFolder
        type="button"
        (click)="openFolderModal()"
        class="btn dd mx-1 "
        data-bs-toggle="modal"
        data-bs-target="#staticBackdropFolder"
        style="position: relative;"
      >
        <span class="button__icon">
          <img src="../../assets/images/RBF-dd.png" />
        </span>
        <p class="mx-3 button__text">New Folder</p>
      </button>
  </ul>
  </div>
           

    </div>

  </div>

  
  <div class="col-md-12 p-3 d-flex">
        
    <div class="Report-file mx-3 card  d-flex justify-content-start" *ngFor="let file of filename">
      <div class="gohover w-100">
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="infooverviewtoggle pe-1"
                  aria-controls="dropdown-basic">
                  <img src="../../assets/images/Menu card.png" class="ms-2" width="20"/>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu overviewddmenu"
              role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="#">
                <img src="../../assets/images/IconRun.svg" class="mx-3" width="16"/> Run</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">
              <img src="../../assets/images/pen.png" class="mx-3" width="18"/> Edit</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">
              <img src="../../assets/images/viewicon.svg" class="mx-3" width="20"/> Overview</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">
              <img src="../../assets/images/x-button.png" class="mx-3" width="20"/>Close</a></li>

        
          </ul>
          </div>
   </div>
      <div class="file" (click)="folderfilemanagement(file.name)" style="cursor: pointer;">
        <img src="../../assets/images/Rep.png" style="width: 70%;" />
        <h6 class="mt-2">{{file.name}}</h6>  
      </div>
   
  </div>
  </div>

  </div>

</div>

<div class="subfolderoverview" *ngIf="tabsOverviewShow">
  <div (click)="$event.preventDefault()">
    <!-- <p>Change quantity of tabs by manipulating tabs array</p>
    <button type="button" class="btn btn-primary btn-sm" (click)="addNewTab()">
      Add new tab
    </button>
    <button type="button" class="btn btn-primary btn-sm" (click)="tabs = []"  *ngIf="tabs.length">
      Remove all tabs
    </button> -->

    <tabset #staticTabs>
      <tab heading="Report Builder">
        <div class="userbgdashboard" *ngIf="tabsOverviewShow">
          <div class="container-fluid">
    
            <div class="col-md-12 p-2 my-1 d-flex align-items-center">
              <div class="col-5 p-0">
                <div class="form">
                  <input type="text" class="form-control form-input" placeholder="Search anything...">
                  <img src="../../assets/images/clear.png" class="clearicon">
                  <span class="left-pan">
                    <img src="../../assets/images/searchicon.png" class="ps-2"/>
                  </span>
                </div>
              </div>
              <div class="col-7 d-flex justify-content-end p-0">
       
    <button  type="button" class="btn btn-outline-primary mx-3">
    <img class="button-icon-md" src="../../assets/images/refresh-arrow.png" />Reload
    </button>
    
    
    <div class="btn-group" dropdown>
      <button id="button-custom-html" dropdownToggle type="button" class="btn btn-primary mx-2 dropdown-toggle"
              aria-controls="dropdown-custom-html">
              <img src="../../assets/images/addnew.png" class="mx-2" /> New<span class="caret mx-2"></span>
      </button>
      
      <ul id="dropdown-custom-html" *dropdownMenu class="dropdown-menu newcategory"
          role="menu" aria-labelledby="button-custom-html">
          <button
              #openFile
              type="button"
              (click)="openFileModal()"
              class="btn dd mx-1 "
              data-bs-toggle="modal"
              data-bs-target="#staticBackdropFile"
              style="position: relative"
            >
              <span class="button__icon">
                <img src="../../assets/images/Rep.png" width="24" />
              </span>
              <p class="mx-3 button__text">New File</p>
            </button>
            
            <button
            #openFolder
            type="button"
            (click)="openFolderModal()"
            class="btn dd mx-1 "
            data-bs-toggle="modal"
            data-bs-target="#staticBackdropFolder"
            style="position: relative;"
          >
            <span class="button__icon">
              <img src="../../assets/images/RBF-dd.png" />
            </span>
            <p class="mx-3 button__text">New Folder</p>
          </button>
      </ul>
      </div>
               
    
        </div>
    
      </div>
    
      
      <div class="col-md-12 p-3 d-flex">
            
        <div class="Report-file mx-3 card  d-flex justify-content-start" *ngFor="let file of filename">
          <div class="file" (click)="folderfilemanagement(file.name)" style="cursor: pointer;">
            <img src="../../assets/images/Rep.png" style="width: 70%;" />
            <h6 class="mt-2">{{file.name}}</h6>  
          </div>
       
      </div>
      </div>
    

      </div>
    
    </div>
        </tab>  

      <tab *ngFor="let tabz of tabs"
      [style]="{width:'100%'}"
           [heading]="tabz.title"
           [active]="tabz.active"
           (selectTab)="tabz.active = true"
           (deselect)="tabz.active = false"
           [disabled]="tabz.disabled"
           [removable]="tabz.removable"
           (removed)="removeTabHandler(tabz)"
           [customClass]="tabz.customClass"
           [styleClass]=""
           >
           
           <ng-template tabHeading  #toltemplate>
            <div class="btn-group" dropdown>
              <button id="button-basic" dropdownToggle type="button" class="infooverviewtoggle pe-1"
                      aria-controls="dropdown-basic">
                      <img src="../../assets/images/Menu card.png" class="ms-2" width="20"/>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu overviewddmenu"
                  role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" href="#">
                  <img src="../../assets/images/pen.png" class="mx-3" width="20"/> Edit</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">
                  <img src="../../assets/images/action info.png" class="mx-3" width="20"/> Info</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">
                  <img src="../../assets/images/x-button.png" class="mx-3" width="20"/>Close</a></li>

            
              </ul>
              </div>

          </ng-template>
          <div class="card mb-3" *ngIf="ReportsTriggered===false">
            <div class="col-sm-12 my-2 d-flex justify-content-between align-items-center  ">
              <h5 class="my-2">Overview</h5>
              <button type="button" class="btn btn-primary mx-2" (click)="openRunModal()" 
              #openRun
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdropRun"
              style="position: relative;"
              >
              <img src="../../assets/images/Icon fa-solid-play.svg" class="mx-2" width="12" /> Run
      </button>
      
            </div>
            <div class="col-sm-12">
              <div class="cardcolumn py-2 mb-2"  style="overflow: auto;">
                <div class="d-flex col-12">
                 
                </div>
                <div class="profiledetails card mx-3 my-2">
                  <div class="col-12 d-flex px-3 py-2">
                    <div
                      class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                      style="width: 5%"
                    >
                      <img src="../../assets/images/description (1).png" width="36" />
                    </div>
                    <div class="col-md-11 namegrid">
                      <h5 class="mb-2">Name <small>*</small></h5>
                      <p class="my-1">Mohana Prasad</p>
                    </div>
                  </div>
                </div>
                <div class="profiledetails card mx-3 my-2">
                  <div class="col-12 d-flex px-3 py-2">
                    <div
                      class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                      style="width: 5%"
                    >
                    <img src="../../assets/images/description (1).png" width="36" />
                    </div>
                    <div class="col-md-11 namegrid">
                      <h5 class="mb-2">Display Name <small>*</small></h5>
                      <p class="my-1">Mohana Prasad</p>
                    </div>
                  </div>
                </div>
                <div class="profiledetails card mx-3 my-2">
                  <div class="col-12 d-flex px-3 py-2">
                    <div
                      class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                      style="width: 5%"
                    >
                    <img src="../../assets/images/description (1).png" width="36" />
                    </div>
                    <div class="col-md-11 namegrid">
                      <h5 class="mb-2">Group <small>*</small></h5>
                      <p class="my-1">Admin</p>
                    </div>
                  </div>
                </div>
                <div class="profiledetails card mx-3 my-2">
                  <div class="col-12 d-flex px-3 py-2">
                    <div
                      class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                      style="width: 5%"
                    >
                    <img src="../../assets/images/description (1).png" width="36" />
                    </div>
                    <div class="col-md-11 namegrid">
                      <h5 class="mb-2">Phone Number <small>*</small></h5>
                      <p class="my-1">987643210</p>
                    </div>
                  </div>
                </div>
                <div class="profiledetails card mx-3 my-2">
                  <div class="col-12 d-flex px-3 py-2">
                    <div
                      class="col-md-1 d-flex justify-content-start ms-2 align-items-baseline"
                      style="width: 5%"
                    > 
                    <img src="../../assets/images/description (1).png" width="36"  />
                    </div>
                    <div class="col-md-11 namegrid">
                      <h5 class="mb-2">Name <small>*</small></h5>
                      <p class="my-1">Mohana Prasad</p>
                    </div>
                  </div>
                </div>
              </div>  
            </div>
          </div>

          <div class="card" *ngIf="ReportsTriggered===true">
            <div class="col-sm-12 my-2 d-flex justify-content-start align-items-center">
              <button class="btn" (click)="backpage()">
                <img src="../../assets/images/backpage.svg" width="20">
              </button>
              <label>Reports</label>
            </div>
            <div class="my-2">
            <app-datatable></app-datatable>
            </div>
          </div>
      </tab>
    </tabset>

</div>
  </div>




   <!-- Modal -->

   <div
   class="modal fade"
   id="staticBackdropFile"
   data-bs-backdrop="static"
   data-bs-keyboard="false"
   tabindex="-1"
   aria-labelledby="staticBackdropLabel"
   aria-hidden="true"
 >
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="staticBackdropLabel">New Tab</h5>
         <button
           type="button"
           class=""
           data-bs-dismiss="modal"
           aria-label="Close"
           style="border: none; background: none; outline: none"
         >
           <img src="../../assets/images/popupclose.png" width="30" />
         </button>
       </div>
       <div class="modal-body">
      <div class="card">
       <div class="col-md-12">
         <div class="steppercard">
           <div class="stepper-horizontal" id="stepper1">
             <div class="step editing">
               <div class="step-circle"><span>1</span></div>
               <div class="step-title">Basic Details</div>
               <div class="step-bar-left"></div>
               <div class="step-bar-right"></div>
             </div>
             <div class="step">
               <div class="step-circle"><span>2</span></div>
               <div class="step-title">Manage Fields</div>
               <div class="step-bar-left"></div>
               <div class="step-bar-right"></div>
             </div>
            
           </div>
         </div>
        
       </div>
       <div class="col-md-12">
         <div class="basicDetails" *ngIf="basicDetails==true" >
           
             <div class="mb-3 row">
               <label for="staticEmail" class="col-sm-2 col-form-label">Name<small>*</small></label>
               <div class="col-sm-10">
                 <input type="text" class="form-control" id="staticEmail" >
               </div>
             </div>

             <div class="mb-3 row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Report<small>*</small></label>
              <div class="col-sm-10">
                <div class="card d-flex justify-content-center">
                  <!-- <p-dropdown
                      [options]="countries"
                      [(ngModel)]="selectedCountry"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      placeholder="Select a Country"
                      styleClass="w-100">
                          <ng-template pTemplate="filter" let-options="options">
                              <div class="d-flex justify-content-between align-items-center p-2 gap-1">
                                  <div class="p-inputgroup" (click)="$event.stopPropagation()">
                                      <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                                      <input
                                          type="text"
                                          pInputText
                                          placeholder="Filter"
                                          [(ngModel)]="filterValue"
                                          (keyup)="customFilterFunction($event, options)" />
                                  </div>
                                  <button pButton icon="pi pi-times" (click)="resetFunction(options)"></button>
                              </div>
                          </ng-template>
                          <ng-template pTemplate="selectedItem" let-selectedOption>
                              <div class="d-flex align-items-center gap-2">
                           
                                  <div>{{ selectedOption.name }}</div>
                              </div>
                          </ng-template>
                          <ng-template let-country pTemplate="item">
                              <div class="d-flex align-items-center gap-2">
                               
                                  <div>{{ country.name }}</div>
                              </div>
                          </ng-template>
                  </p-dropdown> -->
                  </div>
              </div>
            </div>

            
             <div class="mb-3 row">
               <label for="Description" class="col-sm-2 col-form-label">Description</label>
               <div class="col-sm-10">
                 <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
               </div>
             </div>
        
          

         </div>
         <div class="configurations" *ngIf="configPage==true">
          <div class="card">
            <div class="col-sm-12">
              <p-pickList [source]="sourceProducts" [target]="targetProducts" sourceHeader="Available" targetHeader="Selected" dragdrop="true"
              [responsive]="true" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}" filterBy="name"
              sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name">
              <ng-template let-product pTemplate="item">
                  <div class="product-item">
                      <div class="product-list-detail">
                          <h5 class="mb-2">{{product.name}}</h5>
                          <i class="pi pi-tag product-category-icon"></i>
                          <span class="product-category">{{product.category}}</span>
                      </div>
                      <div class="product-list-action">
                          <h6 class="mb-2">${{product.price}}</h6>
                          <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                      </div>
                  </div>
              </ng-template>
          </p-pickList>
            </div>
      </div>
          
         </div>
       </div>
      </div>
         
       </div>
       <div class="modal-footer col-md-12 d-flex justify-content-between ">
         <div class="col-md-2 d-flex justify-content-start  ">
           <button
           type="button"
           class="btn btn-secondary"
           (click)="backStep(1)"
           *ngIf="configPage===true"
         >
          Back
         </button>
         </div>
         <div class="col-md-9 d-flex justify-content-end ">
           <button
           #closeFile
           type="button"
           class="btn btn-secondary"
           data-bs-dismiss="modal"
         >
           Close
         </button>
         <button
           type="button"
           class="btn btn-primary"
           (click)="nextStep()"
           *ngIf="basicDetails===true"
         >
          Next
         </button>
         <button
         type="button"
         class="btn btn-primary"
         (click)="nextStep()"   data-bs-dismiss="modal"  #closeFile
         *ngIf="configPage===true"
       >
        Submit
       </button>
         </div>
       
       </div>
     </div>
   </div>
 </div>
  
 <div class="modal fade" id="staticBackdropFolder" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">New Folder</h5>
        <button type="button" class="" data-bs-dismiss="modal"  aria-label="Close" style="border: none;background: none;outline: none;">
          <img src="../../assets/images/popupclose.png" width="30" />
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="mb-3 row">
              <label for="Folder" class="col-sm-2 col-form-label">Name:</label>
              <div class="col-sm-10">
                  <input class="form-control" [value]="subFoldername" type="text" placeholder="Create New Folder"/>
              </div>
            </div>
          <div class="mb-3 row">
              <label for="Description" class="col-sm-2 col-form-label">Description:</label>
              <div class="col-sm-10">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
        </form>
        
      </div>
      <div class="modal-footer">
        <button #closeFolder  type="button" class="btn btn-secondary" (click)="closeFolderModal()">Close</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="addNewFolder()">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdropRun" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Paramter Filer</h5>
        <button type="button" class="" data-bs-dismiss="modal"  aria-label="Close" style="border: none;background: none;outline: none;">
          <img src="../../assets/images/popupclose.png" width="30" />
        </button>
      </div>
      <div class="modal-body">
   
          <div class="mb-3 row">
              <label for="Folder" class="col-sm-2 col-form-label">Start Date:</label>
              <div class="col-sm-10">
                <div class="row">
                  <input type="text"
                  placeholder="Datepicker"
                  class="form-control"
                  style="width: 97%;
    margin-left: 10px;"
                  [bsConfig]="{withTimepicker: true, rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a', dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}"
                  bsDatepicker>
                </div>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="Folder" class="col-sm-2 col-form-label">End Date:</label>
              <div class="col-sm-10">
                <div class="row">
                  <input type="text"
                  placeholder="Datepicker"
                  class="form-control"
                  style="width: 97%;
    margin-left: 10px;"
                  [bsConfig]="{withTimepicker: true, rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a', dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}"
                  bsDatepicker>
                </div>
              </div>
            </div>
          <div class="mb-3 row">
              <label for="Description" class="col-sm-2 col-form-label">category:</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" readonly>
              </div>
            </div>
            <div class="mb-3 row">
              <label for="Description" class="col-sm-12 col-form-label">Agents (Collections)</label>
              <div class="col-sm-12">
                <p-pickList [source]="sourceProducts" [target]="targetProducts" sourceHeader="Available" targetHeader="Selected" dragdrop="true"
                [responsive]="true" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}" filterBy="name"
                sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name">
                <ng-template let-product pTemplate="item">
                    <div class="product-item">
                        <div class="product-list-detail">
                            <h5 class="mb-2">{{product.name}}</h5>
                            <i class="pi pi-tag product-category-icon"></i>
                            <span class="product-category">{{product.category}}</span>
                        </div>
                        <div class="product-list-action">
                            <h6 class="mb-2">${{product.price}}</h6>
                            <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                        </div>
                    </div>
                </ng-template>
            </p-pickList>
              </div>
            </div>
        
      </div>
      <div class="modal-footer">
        <button #closeRun type="button" class="btn btn-secondary" (click)="closeFolderModal()">Close</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="addNewFolder()">Create</button>
      </div>
    </div>
  </div>
</div>
  
  
  
  