.tooltip-container {
  color: #ffffff;
  --background: #019d91;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  // font-size: 17px;
  padding: 8px;
  border-radius: 50px;
  height: 1.75rem;
}

.tooltip {
  background-color: var(--infoColor);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.3em 0.6em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: 50px;
}

.tooltip::before {
  background-color: var(--infoColor);
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  top: 0.2em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
}

.tooltip-container:hover .tooltip {
  top: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
